@inject CoffeeContext pd
    <!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>樹蛙雨林聯盟</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> 首頁</a></li>
                        <li class="breadcrumb-item"><a href="#">相關文章</a></li>
                        <li class="breadcrumb-item active" aria-current="page">樹蛙雨林聯盟</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Portfolio Detaila Area Start ##### -->
<section class="portfolio-details-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>什麼是樹蛙雨林聯盟？</h2>
                    @*<p>Design &amp; constructed by Alazea.</p>*@
                </div>
            </div>
        </div>

        <div class="portfolio-text mb-100">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h5>國際非政府組織--樹蛙雨林聯盟</h5>
                    <p>&emsp;&emsp;眾所周知，咖啡豆的盛產區域大部分位於熱帶雨林，世界三大熱帶雨林：印度馬來雨林群系、非洲雨林群系與美洲雨林群系。其中，又以美洲雨林群系中的亞馬遜森林最廣泛讓人們所熟知，為全球最大及物種最多的熱帶雨林，更有「地球之肺」的美譽，足見其重要性！能讓青蛙安然棲息的地方意味著生態的健康，選用「紅眼樹蛙」作為其認證標誌，雨林聯盟創立精神不言而喻。</p>
                    <p>&emsp;&emsp;1987年，國際非政府組織-「雨林聯盟」創立，其使命是「通過利用社會和市場力量保護自然並改善農民和森林社區的生活，創造一個更加可持續的世界。」基於上述理念，雨林聯盟開始透過農業認證的形式，將農作產品導向結合了公司、農民、林農、社區和消費者的利益，以生產可持續和和諧的商品。</p>
                </div>
                <div class="col-12 col-lg-1"></div>
                <div class="col-12 col-lg-4">
                    <h5>為什麼選擇樹蛙雨林聯盟的咖啡？</h5>
                    <p>其認證代表該作物符合：</p>
                    <ul>
                        <li><i class="fa fa-check"></i> 較少的環境污染與浪費。</li>
                        <li><i class="fa fa-check"></i> 符合農藥限制標準。</li>
                        <li><i class="fa fa-check"></i> 保護自然環境與動物棲息地。</li>
                        <li><i class="fa fa-check"></i> 高成效的管理機制。</li>
                        <li><i class="fa fa-check"></i> 保障農民權益與競爭力。</li>
                        <li><i class="fa fa-check"></i> 增進農民與環保團體的合作度。</li>
                    </ul>
                </div>
                <div class="col-12">
                    <h5>雨林聯盟認證的意義</h5>
                    <p>&emsp;&emsp;雨林聯盟逐年逐步擴展了與小農的合作，目前已超過200萬農戶獲得了該組織認證。而取得認證的前提，是農場必須符合可持續農業標準，其標準旨在保護生態系統、保護生物多樣性和水道、保護森林、減少農用化學品的使用、改善生計以及維護工人和當地社區的權利和福祉。雨林聯盟鼓勵企業和消費者通過採購或選擇「認證農場」種植的產品來支持可持續農業。截至2019年，超過500萬公頃的農田在雨林聯盟認證下得到可持續管理。全球5.7%的咖啡來自雨林聯盟認證的農場。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <!-- Portfolio Slides -->
            <div class="portfolio-slides owl-carousel mb-100">
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/images/Frog001.jpg" alt="">
                </div>
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/images/Frog002.jpg" alt="">
                </div>
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="~/images/Frog003.jpg" alt="">
                </div>
                <div class="single-portfolio-slide">
                    <img src="~/images/Frog004.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <h5>認證農場的核心價值</h5>
                <p class="mb-30">&emsp;&emsp;為成為雨林認證的一員，農戶及企業對於勞工及自然環境，不再單純以壓榨性方式搾取利益，而更多注重：保護野生動物和水道、為工人準備防護裝備及農用化學品使用指南，並且禁止轉基因作物，最重要的是：監測和減輕童工、強迫勞動、歧視...等工作場所暴力和騷擾的風險問題。</p>
                <h5>全程無污染的認證咖啡</h5>
                <p class="mb-30">&emsp;&emsp;取代過往倚賴農藥及大量砍伐林木的耕作法。雨林聯盟採用高成效的農園管理機制,並與當地農民合作,輔導他們實施碳排放較少的耕作技術,透過可持續的耕作不僅能帶來改善土壤質量、節約用水、保護野生動物的棲息地等益處,更能提高現有農田的生產力,產出高品質的咖啡豆。咖啡豆也因為在嚴格限制農藥標準、全程無污染的條件下生長,得以保留本身的絕佳風味。選擇雨林聯盟認證的咖啡，雨林聯盟也會再將收益投入雨林的保護與咖啡農的收益補貼,保障他們的生計與競爭力，達成永續經營的目的。</p>
                <h5>西夏普咖啡能買到經過雨林聯盟認證的咖啡嗎?</h5>
                <p>&emsp;&emsp;西夏普咖啡創辦人Joy Lee女士多年來致力於環境議題與認證農場的推廣，西夏普咖啡基於對創辦人理念的尊重，在西夏普咖啡，我們針對雨林認證的咖啡豆皆有特別列式，供用戶確認，除了依據您的個人喜好選擇風味外，不妨也將雨林認證列入您選擇咖啡的條件吧！</p>
            </div>

            <div class="col-12 col-lg-3">
                <div class="portfolio-details-meta">
                    <h4>雨林認證咖啡</h4>
                </div>
                <div class="portfolio-details-meta">
                    <h5>找果香</h5>

                    <p><img src="~/img/Home-img/03.jpg" alt="" width="50" height="50"><a href="@Url.Action($"detail", "Shop",new { id = 44})" style="color:darkgrey">巴西 日曬 達特拉莊園</a></p>@*修正action連結咖啡細節*@
                </div>
                <div class="portfolio-details-meta">
                    <h5>酸一點</h5>
                    <p><img src="~/img/Home-img/03.jpg" alt="" width="50" height="50"><a href="@Url.Action($"detail", "Shop",new { id = 34})" style="color:darkgrey">印尼 蘇門答臘  亞齊省 日曬 暮莎莎 19目</a></p>
                </div>
                <div class="portfolio-details-meta">
                    <h5>重烘焙</h5>
                    <p><img src="~/img/Home-img/03.jpg" alt="" width="50" height="50"><a href="@Url.Action($"detail", "Shop",new { id = 35})" style="color:darkgrey">祕魯 庫斯科 水洗 鐵皮卡</a></p>
                </div>
                <div class="portfolio-details-meta">
                    <h5>蜜處理</h5>
                    <p><img src="~/img/Home-img/03.jpg" alt="" width="50" height="50"><a href="@Url.Action($"detail", "Shop",new { id = 12})" style="color:darkgrey">哥斯大黎加 塔拉朱 雪松莊園 紅蜜處理 Sudan Rume</a></p>
                </div>
                <div class="portfolio-details-meta">
                    <h5>西夏普特別推薦</h5>
                    <p><img src="~/img/Home-img/03.jpg" alt="" width="50" height="50"><a href="@Url.Action($"detail", "Shop",new { id = 43})" style="color:darkgrey">哥斯大黎加 塔拉珠產區紅眼雨蛙 洛馬斯李奧處理場紅蜜處理SHB</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img mt-50" style="background-image: url(../img/bg-img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- 法定名稱 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="/"><img src="/img/Home-img/CLogo.png" alt="" style="width:13em;height:6em"></a>
                        </div>
                        <p>財團法人西夏普文教基金會</p>
                        <div class="social-info">
                            @*<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>

                <!-- 網站導覽 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>網站導覽</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="/Shop/view">商品一覽</a></li>
                                <li><a href="/CAboutMe/faceToMe">關於我們</a></li>
                                <li><a href="/CFrog/faceToFrog">雨林聯盟</a></li>
                                <li><a href="/CArticle/faceToArticle">咖啡好文</a></li>
                                <li><a href="/Constellation/faceToConstellation">星座咖啡</a></li>
                                <li><a href="/MemCenter/Index">會員中心</a></li>
                                <li><a href="/Shopping/ShoppingCarEmpty">前往結帳</a></li>
                                <li><a href="/home/onlineServices">即時客服</a></li>
                                <li><a href="https://forms.gle/GuFsMzqkbW2AdNWz9" target="_blank">填寫問券</a></li>
                                <li><a href="#" onclick="window.open('/AIbot.html', '線上客服', 'width=450,height=550')">智能客服</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- 經典咖啡推薦 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>經典咖啡推薦</h5>
                        </div>

                        <!-- Single Best Seller Products -->
                        @{
                            Random rd = new Random();
                            var footpd1 = pd.Products.AsEnumerable().Where(p => p.CategoryId == 1).OrderBy(f => rd.Next()).Take(10);
                            var footpd2 = footpd1.OrderBy(f => rd.Next()).Take(2).ToList();

                            foreach (var item in footpd2)
                            {
                                <div class="single-best-seller-product d-flex align-items-center">
                                    <div class="product-thumbnail">
                                        <a href="/Shop/detail/@item.ProductId"><img src="/images/@item.MainPhotoPath" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <a href="/Shop/detail/@item.ProductId">@item.ProductName</a>
                                        <p>NT$@Convert.ToInt32(item.Price)</p>
                                    </div>
                                </div>
                            }
                        }


                        @*<div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/Shop/detail/41"><img src="/images/393e691c-c9f4-4f7b-9321-142467f5894c.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/Shop/detail/41">西夏普 夏日驕陽配方</a>
                                    <p>NT$180</p>
                                </div>
                            </div>*@

                    </div>
                </div>

                <!-- 聯絡我們-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>聯絡我們</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>電話:</span> 02-2222-2222</p>
                            <p><span>地址:</span> 台北市大安區復興南路一段390號2樓</p>
                            <p><span>電子郵件:</span> cscoffee@msit141.com.tw</p>
                            <p><span>即時客服聯絡時間:</span> 09:30~18:30</p>
                            @*<p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            © MSIT141 西夏普咖啡 ©&copy;
                            <script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i><a href="#" target="_blank"></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- 底部聯結 -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/CAboutMe/faceToMe">About</a></li>
                                <li><a href="/Shop/view">Shop</a></li>
                                <li><a href="/CArticle/faceToArticle">Blog</a></li>
                                <li><a href="/MemCenter/Index">MemberCenter</a></li>
                                <li><a href="/home/onlineServices">Customer Service</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
