@model IEnumerable<prjProduct_core.ViewModel.CCouponDetailViewModel>


<table class="table table-hover">
    <thead style="background-color: #61A340; color: ghostwhite;">
        <tr>
            <th scope="col">
                優惠活動
            </th>
            <th scope="col">
                折抵金額
            </th>
            <th scope="col">
                折抵條件
            </th>
            <th scope="col">
                開始日期
            </th>
            <th scope="col">
                剩餘時間
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.couponName
            </td>
            <td>
                @item.money.ToString("0")
            </td>
            <td>
                @item.condition.ToString("0")
            </td>
            <td>
                @item.startDate.ToShortDateString()
            </td>
            <td class="countdown">
                @item.deadline.ToShortDateString()
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    //倒數
    let Countdown = $(".countdown");
    let timearr = [];
    $.each(Countdown, function (index, value) {  //value:element
        timearr.push(value.innerText);
    })

    function count() {
        let now = new Date().getTime();
        for (let i = 0; i < timearr.length; i++) {
            let deadtime = new Date(timearr[i]).getTime();
            let distance = deadtime - now;
            let days = Math.floor(distance / (24 * 60 * 60 * 1000));
            let hours = Math.floor((distance % (24 * 60 * 60 * 1000)) / (60 * 60 * 1000));
            let minutes = Math.floor((distance % (60 * 60 * 1000)) / (60 * 1000));
            let seconds = Math.floor((distance % (60 * 1000)) / 1000);

            Countdown.get(i).innerText = `${days}天${hours}小時${minutes}分${seconds}秒`;
        }
    }
    count();
    let timer = setInterval(count, 1000);



</script>