@model IEnumerable<prjProduct_core.ViewModel.CMyLikeViewModel>

<style>
    .single-product-area .pd-img {
        position: relative;
        z-index: 1;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }

        .single-product-area .pd-img a {
            display: block;
        }

        .single-product-area .pd-img img {
            position: relative;
            z-index: 1;
            width: 100%;
        }

        .single-product-area .pd-img .product-tag a {
            background-color: #429edf;
            border-radius: 2px;
            display: inline-block;
            height: 20px;
            padding: 0 10px;
            line-height: 20px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 700;
            font-size: 12px;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 10;
        }

        .single-product-area .pd-img .product-tag.sale-tag a {
            background-color: #e61d47;
        }

        .single-product-area .pd-img .product-meta {
            position: absolute;
            bottom: 30px;
            left: 15px;
            right: 15px;
            z-index: 100;
            visibility: hidden;
            opacity: 0;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
        }

            .single-product-area .pd-img .product-meta a {
                font-size: 16px;
                color: #ffffff;
                font-weight: 600;
                background-color: #303030;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50px;
                flex: 0 0 50px;
                max-width: 50px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-transform: uppercase;
                text-align: center;
            }

                .single-product-area .pd-img .product-meta a:hover, .single-product-area .pd-img .product-meta a:focus {
                    background-color: #70c745;
                }

            .single-product-area .pd-img .product-meta .add-to-cart-btn {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100% - 100px);
                flex: 0 0 calc(100% - 100px);
                max-width: calc(100% - 100px);
                width: calc(100% - 100px);
                border-left: 1px solid rgba(235, 235, 235, 0.5);
                border-right: 1px solid rgba(235, 235, 235, 0.5);
            }

    .single-product-area .product-info a p {
        margin-bottom: 0;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
    }

        .single-product-area .product-info a p:hover, .single-product-area .product-info a p:focus {
            color: #70c745;
        }

    .single-product-area .product-info h6 {
        margin-bottom: 0;
        font-size: 18px;
    }

    .single-product-area:hover .pdt-img {
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    }

    .single-product-area:hover .pd-img .product-meta {
        visibility: visible;
        opacity: 1;
    }
</style>

<div class="row">
    <!-- Sidebar Area -->
    <!-- All Products Area -->
    <div class="col-12 col-md-12 col-lg-12">
        <div class="shop-products-area">
            <div class="row list-wrapper">
                @{
                    foreach (var pd in Model)
                    {

                        <!-- Single Product Area -->
                        <div class="col-12 col-sm-6 col-lg-4 list-item dele" id="pdc">
                            <div class="single-product-area mb-50 single_portfolio_item home-design wow fadeIn" data-wow-delay="300ms">
                                <!-- Product Image -->
                                <div class="pd-img" style="position: relative; z-index: 1; -webkit-transition-duration: 500ms; transition-duration: 500ms;">

                                    <a asp-action="detail" asp-controller="Shop" asp-route-id="@pd.ProductId" style="display: block;">
                                        @if (pd.MainPhotoPath == null)
                                        {
                                            <img class="pdpicbox" src="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" style="position: relative; z-index: 1; width: 100%; ">
                                        }
                                        else
                                        {
                                            <img class="pdpicbox" src="~/images/@pd.MainPhotoPath" style="position: relative; z-index: 1; width: 100%; ">
                                        }
                                    </a>
                                    <div class="product-meta d-flex" style=" visibility: visible; opacity: 1;">
                                        @if (pd.CategoryId == 1)
                                        {
                                            <a href="javascript:void(0);" class="wishlist-btn"><i class="icon_heart_alt"><span hidden id="likeid">@pd.ProductId</span></i></a>
                                            <a style="cursor:pointer" class="add-to-cart-btn" id="addtocart">Add to cart</a>
                                            <input type="hidden" value="@pd.ProductId" id="proid" />
                                            <input type="hidden" value="@pd.price" id="proprice" />
                                            <a href="javascript:void(0);" class="compare-btn"><i class="arrow_left-right_alt"></i><span hidden id="comid">@pd.ProductId</span></a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" class="wishlist-btn" style="margin-left:25px;"><i class="icon_heart_alt"><span hidden id="likeid">@pd.ProductId</span></i></a>
                                            <a style="cursor:pointer" class="add-to-cart-btn" id="addtocart">Add to cart</a>
                                            <input type="hidden" value="@pd.ProductId" id="proid" />
                                            <input type="hidden" value="@pd.price" id="proprice" />
                                        }

                                    </div>
                                </div>
                                <!-- Product Info -->
                                <div class="product-info mt-15 text-center">
                                    <a href="/Shop/detail/@pd.ProductId">
                                        @pd.productname
                                </a>
                                <h6 id="price" style="margin-bottom: 0; font-size: 18px;">NT$@(Convert.ToInt32( pd.price).ToString("0"))</h6>
                            </div>
                        </div>
                    </div>
                }
                }
            </div>
        </div>
    </div>
</div>

<script>

    //=========================取消收藏====================================
        $(".wishlist-btn").click(function (event) {
        let likeid = event.currentTarget.textContent;

            let div = $(this).closest(".dele");

            $.get('@Url.Content("~/MemberFactory/DeleteMylike")', { "id": likeid },
                function (data) {
                    if (data == "已取消收藏") {
                        div.remove();
                        $.bootstrapGrowl("已取消收藏", {
                            ele: "body",
                            type: "success",
                            offset: { from: "bottom", amount: 50 },
                            align: "center",
                            width: "auto",
                            delay: 3000,
                            allow_dismiss: true,
                            stackup_spacing: 10,
                        });
                    } else {
                        window.location.href = '@Url.Content("~/MemberFactory/DeleteMylike")';
                    }
                });
        });

    //=================加入購物車========================
    $(".add-to-cart-btn").click(function () {
        let proid = $(this).parent().find("#proid").val();
        let proprice = parseInt($(this).parent().find("#proprice").val());
        let addImg = $(this).parent().parent().find(".pdpicbox");
        $.get('@Url.Content("~/shopping/AddtoCart")', { "id": proid, "quantity": 1, "price" : proprice },
            function (data) {
                if (data === "add") {
                    $.bootstrapGrowl("成功加入購物車", {
                        ele: "body",
                        type: "success",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                    var cloneImg = addImg.clone();
                    cloneImg.css({
                        "width": "250px",
                        "height": "250px",
                        "position": "absolute",
                        "left": addImg.offset().left,
                        "top": addImg.offset().top,
                        "z-index": "9990",
                        "opacity": "0.8"
                    });

                    cloneImg.appendTo($("body")).animate({
                        "width": "50px",
                        "height": "50px",
                        "left": $("#cart").offset().left,
                        "top": $("#cart").offset().top,
                    }, 500, function () {
                        $(this).remove();
                    });
                    CountCart();
                }
                else {
                        window.location.href = '@Url.Content("~/Home/Login")';
                }
            }
        );
    })

    async function CountCart() {
        let countCart = document.querySelector("#countCart");
        const response = await fetch('@Url.Content("~/api/CountCart")');
        const result = await response.text();
        countCart.innerHTML = result;
        $("#cart-count").html(`${result}`);
    }

          //=====================加入比較按鈕=====================
    $(".compare-btn").click(function () {
        let comid = $(this.children).text();
        $('.bootstrap-growl').remove();
        $.get('@Url.Content("~/compare/AddCompare")', { "Id": comid },
            function (data) {
                if (data === "add") {
                    $.bootstrapGrowl("加入比較清單", {
                        ele: "body",
                        type: "success",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                else if (data === "beenAdd") {
                    $.bootstrapGrowl("該商品已加入過比較清單!", {
                        ele: "body",
                        type: "warning",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                else{
                    $.bootstrapGrowl("比較清單已加入3樣商品 <a href='@Url.Content("~/Compare/CompareView")' style='font-weight: bolder;font-size:18px; color: #4F9D9D'>前往比較頁面</a>", {
                        ele: "body",
                        type: "primary",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                ReportCompareCount();
             }
        );
    });

</script>