@model IEnumerable<prjProduct_core.ViewModel.CMyLikeViewModel>

<div class="row">
    <!-- Sidebar Area -->
    <!-- All Products Area -->
    <div class="col-12 col-md-12 col-lg-12">
        <div class="shop-products-area">
            <div class="row list-wrapper">
                        @{
                            foreach (var pd in Model)
                            {
                                <!-- Single Product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 dele">
                                    <div class="single-product-area mb-50">
                                        <!-- Product Image -->
                                        <div class="product-img">
                                            <a asp-action="detail" asp-controller="Shop" asp-route-id="@pd.ProductId"><img src="../img/Home-img/02.jpg"></a>
                                            <!-- Product Tag -->
                                            <div class="product-tag">
                                                <a href="#">Hot</a>
                                            </div>
                                            <div class="product-meta d-flex">
                                                @if (pd.CategoryId == 1)
                                                {
                                                    <a href="javascript:void(0);" class="wishlist-btn"><i class="icon_heart_alt"><span hidden id="likeid">@pd.ProductId</span></i></a>
                                                    <a href="@Url.Action("AddtoCart","Shopping", new { id = @pd.ProductId})" style="cursor:pointer" class="add-to-cart-btn"><span hidden id="addtocart">@pd.ProductId</span>Add to cart</a>
                                                    <a href="javascript:void(0);" class="compare-btn"><i class="arrow_left-right_alt"></i><span hidden id="comid">@pd.ProductId</span></a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0);" class="wishlist-btn"style="margin-left:25px;"><i class="icon_heart_alt"><span hidden id="likeid">@pd.ProductId</span></i></a>
                                                    <a href="@Url.Action("AddtoCart","Shopping", new { id = @pd.ProductId})" style="cursor:pointer" class="add-to-cart-btn"><span hidden id="addtocart">@pd.ProductId</span>Add to cart</a>
                                                }
                                            </div>
                                        </div>
                                        <!-- Product Info -->
                                        <div class="product-info mt-15 text-center">
                                            <a>
                                                @Html.ActionLink(pd.productname, "detail","Shop", new { id = pd.ProductId }, new { })
                                            </a>
                                            <h6>$@(Convert.ToInt32(pd.price).ToString("0"))</h6>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
            </div>
        </div>
    </div>
</div>

<script>
        $(".compare-btn").click(function () {
        let comid = $(this.children).text();
        $.get('@Url.Content("~/compare/AddCompare")', { "id": comid },
            function (data) {
                alert(data);
            }
        );
        })

    //=========================取消收藏====================================
        $(".wishlist-btn").click(function (event) {
        let likeid = event.currentTarget.textContent;

            let div = $(this).closest(".dele");

            $.get('@Url.Content("~/MemberFactory/DeleteMylike")', { "id": likeid },
                function (data) {
                    if (data == "已取消收藏") {
                        div.remove();
                        $.bootstrapGrowl("已取消收藏", {
                            ele: "body",
                            type: "success",
                            offset: { from: "top", amount: 100 },
                            align: "center",
                            width: "auto",
                            delay: 3000,
                            allow_dismiss: true,
                            stackup_spacing: 10,
                        });
                    } else {
                        window.location.href = '@Url.Content("~/MemberFactory/DeleteMylike")';
                    }
                }); 
        });
</script>