@model IEnumerable<prjProduct_core.ViewModel.CNotificationViewModel>
@inject CoffeeContext pd

@{
    ViewData["Title"] = "Notice";
}
@section Style{
    <style>
        .notifications {
            pointer-events: none;
        }
        #container {
            margin: auto auto;
            width: 30rem;
        }

        #allread {
            cursor: pointer;
            margin-right: 0;
            padding-right: 0;
            right: 0;
            display: inline;
            text-align: right;
        }

        .notiul {
            margin: auto auto;
            width: 30rem;
            align-content: center;
            /*text-align: center;*/
        }

        .notili {
            display: flex;
            align-items: center;
            margin-bottom: 1px;
        }

            .notili:hover {
                background-color: #F2F4F5;
            }

        .notiData {
            margin: 0 0.9rem;
            margin-top: 0.8rem;
            width: 25rem; /*訊息的寬度*/
        }

            .notiData .notiTitle {
                color: black;
                font-weight: 600;
                font-size: 1rem;
            }

            .notiData .subTitle {
                font-weight: 400;
                font-size: 0.8rem;
            }

            .notiData .notiTime {
                font-size: 0.6rem;
                margin-top: 2px;
            }

        .trash, .readed {
            cursor: pointer;
            border: none;
            background-color: transparent;
        }
    </style>
}
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>通知</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">通知</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container" id="container">
    <div><p id="allread">&nbsp;&nbsp;全部標為已讀</p></div>
    <ul class="notiul">
        @{
            foreach (var item in Model)
            {
                <li class="notili r_@item.HasRead ">
                    <div class="notiData">
                        <div class="notiTitle">訂單 @item.TradeNo</div>
                        <div class="subTitle">此訂單目前的狀態：@item.statement</div>
                        <p class="notiTime">@item.NotifyTime</p>
                    </div>
                    <div class="notiDel">
                        <button class="trash" style="margin-left: 1.5em"><i class="fa-solid fa-trash-can"><span hidden>@item.NotificationId</span></i></button>
                        <button class="readed">標為已讀<span hidden>@item.NotificationId</span></button>
                    </div>
                </li>
            }
        }

    </ul>
</div>


<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img mt-50" style="background-image: url(../img/bg-img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- 法定名稱 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="/"><img src="/img/Home-img/CLogo.png" alt="" style="width:13em;height:6em"></a>
                        </div>
                        <p>財團法人西夏普文教基金會</p>
                        <div class="social-info">
                            @*<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>

                <!-- 網站導覽 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>網站導覽</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="/Shop/view">商品一覽</a></li>
                                <li><a href="/CAboutMe/faceToMe">關於我們</a></li>
                                <li><a href="/CFrog/faceToFrog">雨林聯盟</a></li>
                                <li><a href="/CArticle/faceToArticle">咖啡好文</a></li>
                                <li><a href="/Constellation/faceToConstellation">星座咖啡</a></li>
                                <li><a href="/MemCenter/Index">會員中心</a></li>
                                <li><a href="/Shopping/ShoppingCarEmpty">前往結帳</a></li>
                                <li><a href="/home/onlineServices">即時客服</a></li>
                                <li><a href="https://forms.gle/GuFsMzqkbW2AdNWz9" target="_blank">填寫問券</a></li>
                                <li><a href="#" onclick="window.open('/AIbot.html', '線上客服', 'width=450,height=550')">智能客服</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- 經典咖啡推薦 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>經典咖啡推薦</h5>
                        </div>

                        <!-- Single Best Seller Products -->
                        @{
                            Random rd = new Random();
                            var footpd1 = pd.Products.AsEnumerable().Where(p => p.CategoryId == 1).OrderBy(f => rd.Next()).Take(10);
                            var footpd2 = footpd1.OrderBy(f => rd.Next()).Take(2).ToList();

                            foreach (var item in footpd2)
                            {
                                <div class="single-best-seller-product d-flex align-items-center">
                                    <div class="product-thumbnail">
                                        <a href="/Shop/detail/@item.ProductId"><img src="/images/@item.MainPhotoPath" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <a href="/Shop/detail/@item.ProductId">@item.ProductName</a>
                                        <p>NT$@Convert.ToInt32(item.Price)</p>
                                    </div>
                                </div>
                            }
                        }


                        @*<div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/Shop/detail/41"><img src="/images/393e691c-c9f4-4f7b-9321-142467f5894c.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/Shop/detail/41">西夏普 夏日驕陽配方</a>
                                    <p>NT$180</p>
                                </div>
                            </div>*@

                    </div>
                </div>

                <!-- 聯絡我們-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>聯絡我們</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>電話:</span> 02-2222-2222</p>
                            <p><span>地址:</span> 台北市大安區復興南路一段390號2樓</p>
                            <p><span>電子郵件:</span> cscoffee@msit141.com.tw</p>
                            <p><span>即時客服聯絡時間:</span> 09:30~18:30</p>
                            @*<p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            © MSIT141 西夏普咖啡 ©&copy;
                            <script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i><a href="#" target="_blank"></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- 底部聯結 -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/CAboutMe/faceToMe">About</a></li>
                                <li><a href="/Shop/view">Shop</a></li>
                                <li><a href="/CArticle/faceToArticle">Blog</a></li>
                                <li><a href="/MemCenter/Index">MemberCenter</a></li>
                                <li><a href="/home/onlineServices">Customer Service</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



@section Scripts{
    <script>
    //===========已讀未讀=============================
        $(document).ready(function () {
            $(".r_False").css("background-color", "rgba(115,191,0,0.1)");
            $(".r_True").css("background-color", "transparent");
        });
    //==========標為已讀====================
        //全標
        $("#allread").click(() => {
            $.get('@Url.Content("~/MemberFactory/ReadOneNoti")', function (data) {
                if (data == "OK") {
                    $(".r_False").css("background-color", "transparent");
                    $("#readDot").attr("hidden","hidden");
                } else {
                    window.location.href = '@Url.Content("~/MemberFactory/ReadOneNoti")';
                }
            })
        })
        //單個標
        $(".readed").click(function (e) {
            let notiid = e.currentTarget.textContent.substr(4);
            let li = $(this).closest(".notili");
            $.post('@Url.Content("~/MemberFactory/ReadOneNoti")', { "id": notiid },
                function (data) {
                    if (data == "OK") {
                        li.css("background-color", "transparent");
                    } else if (data == "AllRead") {
                        li.css("background-color", "transparent");
                        $("#readDot").attr("hidden", "hidden");
                    }
                    else {
                        window.location.href = '@Url.Content("~/MemberFactory/ReadOneNoti")';
                    }
                });
        })
    //===========刪除訊息=============================
        $(".trash").click(function (e) {
            let notiid = e.currentTarget.textContent;
            let li = $(this).closest(".notili");
             $.post('@Url.Content("~/MemberFactory/DeletNotice")', { "id": notiid },
                function (data) {
                    if (data == "OK") {
                        li.remove();
                    } else {
                        window.location.href = `@Url.Content("~/MemberFactory/DeletNotice")`;
                    }
                })
        });
    //=============多少時間前的通知=====================
    let notiTime = $(".notiTime");
    let timearr = [];
    $.each(notiTime, function (index, value) {
        timearr.push(value.innerText);
    });
    function Ago() {
        let nowTime = new Date().getTime();
        for (let i = 0; i < timearr.length; i++) {
            let NotifyTime = new Date(timearr[i]).getTime();
            let period = nowTime - NotifyTime;
            let days = Math.floor(period / (24 * 60 * 60 * 1000));
            if (days >= 1) {//超過一天
                notiTime.get(i).innerText = `${days}天前`;
            } else {//一天之內
                let hours = Math.floor((period % (24 * 60 * 60 * 1000)) / (1000 * 60 * 60));
                if (hours >= 1) {
                    notiTime.get(i).innerText = `${hours}小時前`;
                } else {//一小時內
                    let minutes = Math.floor((period % (60 * 60 * 1000)) / (1000 * 60));
                    if (minutes >= 1) {
                        notiTime.get(i).innerText = `${minutes}分鐘前`;
                    } else {//一分鐘內
                        notiTime.get(i).innerText = `幾秒鐘前`;
                    }
                }

            }
        }
    }
    Ago();
    $(document).ready(() => {
        let timer = setInterval(Ago, 1000);
    });
    </script>
}