@model IEnumerable<prjProduct_core.ViewModel.COrderViewModel>

<style>
    td {
        white-space: normal
    }
</style>

<form class="form-inline">
    查詢訂單：
    <select class="custom-select widget-title" id="selYear" name="oYear"></select>
    年
    <select class="custom-select widget-title" id="selMon" name="oMonth"></select>
    月～
    <select class="custom-select widget-title" id="selMon2" name="oMonth2">
        <option value="12">12</option>
    </select>
    月
    <button class="btn alazea-btn" id="Findord" style="width:10%">查詢</button>
</form>
<table class="table table-hover">
    <thead style="background-color: #61A340; color:ghostwhite;">
        <tr>
            <th scope="col">
                訂單編號
            </th>
            <th scope="col">
                訂單日期
            </th>
            <th scope="col">
                收件地址
            </th>
            <th scope="col">
                收件人
            </th>
            <th scope="col">
                收件電話
            </th>
            <th scope="col">
                訂單狀態
            </th>
            <th scope="col">
                付款方式
            </th>
            <th scope="col">
                明細及申請取消
            </th>
        </tr>
    </thead>
    <tbody id="tbchang">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TradeNo
                    <input type="hidden" value="@item.TradeNo">
                </td>
                <td>
                    @item.OrderDate.ToShortDateString()
                </td>
                <td>
                    @item.OrderAddress
                </td>
                <td>
                    @item.OrderReceiver
                </td>
                <td>
                    @item.OrderPhone
                </td>
                <td>
                    @item.orderstatement
                </td>
                <td>
                    @item.payway
                </td>
                <td>
                    <button class="btn btn-outline-secondary detail" data-toggle="modal" data-target="#boxCenter">檢視</button>
                    <button class="btn btn-outline-danger cancel">申請</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- ##### 浮動視窗 ##### -->
<div class="modal fade" id="boxCenter" tabindex="-1" role="dialog" aria-labelledby="boxCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="boxCenterTitle">訂單詳細</h5>
            </div>
            <div class="modal-body">
                <!-- ##### 詳細內容 ##### -->
                <table class="table table-hover">
                    <thead style="background-color: #61A340; color:ghostwhite;">
                        <tr>
                            <th>商品名</th>
                            <th>商品單價</th>
                            <th>商品數量</th>
                            <th>小計</th>
                        </tr>
                    </thead>
                    <tbody id="floattb"></tbody>
                </table>
                <span id="usecou"></span><br />
                <span id="Mbefore"></span><br />
                <span id="Mafter"></span><br />
                <span id="Mtotal"></span>
                <!-- ##### 詳細內容 ##### -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<!-- ##### 取消訂單視窗 ##### -->
<div class="modal fade" id="Modelcancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">是否申請取消訂單？</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                <button type="button" class="btn btn-primary" id="goCancel">是</button>
            </div>
        </div>
    </div>
</div>
<!-- ##### 浮動視窗 ##### -->


<script>
    let docfrag = document.createDocumentFragment();
    let selY = document.querySelector("#selYear")
    let selMon = document.querySelector("#selMon")
    let selMon2 = document.querySelector("#selMon2")
    let nowY = new Date().getFullYear()

    //Year
    for (let y = nowY; y >= nowY - 5; y--) {
        let item = document.createElement("option");
        item.value = y;
        item.innerHTML = y;
        docfrag.appendChild(item);
    }
    selY.append(docfrag);

    //Month from
    docfrag = document.createDocumentFragment();
    for (let m = 1; m < 13; m++) {
        let item = document.createElement("option");
        item.value = m;
        item.innerHTML = m;
        docfrag.appendChild(item);
    }
    selMon.append(docfrag);

    //Month to
    docfrag = document.createDocumentFragment();
    document.querySelector("#selMon").addEventListener("change", function () {
        selMon2.options.length = 0;
        for (let m = parseInt(selMon.value) ; m <= 12; m++) {
            let item = document.createElement("option");
            item.value = m;
            item.innerHTML = m;
            docfrag.appendChild(item);
        }
        selMon2.append(docfrag);
    })


    //動態繫結 查看明細
    docfrag = document.createDocumentFragment();
    $("tbody").on("click", ".detail", function () {
        $("#floattb").html("");
        let TradeNo = $(this).parents().get(1).firstElementChild.textContent.trim();
        $.get('@Url.Content("~/MemberFactory/QueryOrdDetail")', { "id": TradeNo},
            function (data) {
                //生成明細
                let subtotal = 0;
                let usecou = "";
                let couprice = 0;
                $.each(data, function (index, values) {
                    $("#floattb").append(`<tr><td>${values.商品名}</td><td>${values.商品單價}</td><td>${values.商品數量}</td><td>${values.小計}</td>`);
                    subtotal += values.小計;
                    usecou = values.使用的優惠券;
                    couprice = values.優惠券金額;
                })
                $("#usecou").html(`使用的優惠券：${usecou}  &  優惠券金額：${couprice}`);
                $("#Mbefore").html(`折價前金額：${subtotal}`);
                $("#Mafter").html(`折價後金額：${subtotal - couprice}`);
                $("#Mtotal").html(`總金額：${subtotal - couprice}`);
            });
    });

    let TradeNoID = null; //取消訂單用
    let state = null;
    //動態繫結 詢問取消訂單
    $("tbody").on("click", ".cancel", function () {
        state = $(this).parent().prev().prev();
        if (state.text().trim() === "已收到訂單") {
            TradeNoID = $(this).parents().get(1).firstElementChild.textContent.trim();
            $('#Modelcancel').modal('show');
        }
        else {
            $.bootstrapGrowl("商品已出貨不可取消，或是您的商品已取消或審核中。", {
                ele: "body",
                type: "danger",
                offset: { from: "top", amount: 300 },
                align: "center",
                width: "auto",
                delay: 3500,
                allow_dissmiss: true,
                stackup_spacing: 10
            });
        }

    })

    //確定取消訂單
    $("#goCancel").click(function () {
        $.get('@Url.Content("~/MemberFactory/OrdCancel")', { "id": TradeNoID },
            function (data) {
                if (data == "check") {
                    state.text("審核中");
                    $.bootstrapGrowl("已將您的訂單交由工作人員審核中，審核完畢將會為您取消訂單", {
                        ele: "body",
                        type: "success",//樣式
                        offset: { from: "top", amount: 300 },
                        align: "center",//出現位置
                        width: "auto",
                        delay: 5000,//延遲
                        allow_dissmiss: true, //是否允許使用者關閉
                        stackup_spacing: 10 //條間距
                    });
                    $('#Modelcancel').modal('hide');
                }

            }
        );
    });

    //Search
    let btnSearch = document.querySelector("#Findord");
    btnSearch.addEventListener("click", async function (event) {
        event.preventDefault();
        const ordrespon = await fetch('@Url.Content("~/MemberFactory/QueryOrder")' + `?oYear=${selY.value}&oMonth=${selMon.value}&oMonth2=${selMon2.value}`);
        const orddata = await ordrespon.json();
        if (orddata.length == 0) {
            alert("查無資料")
        }
        else {
            let tbody = document.querySelector("#tbchang");
            docfrag = document.createDocumentFragment();
            orddata.forEach(datas => {  //大迴圈 列
                let newtr = document.createElement("tr");

                $.each(datas, function (index, info) { //小迴圈 行  index屬性名 info屬性值
                    let newtd = document.createElement("td");
                    newtd.innerHTML = info;
                    newtr.appendChild(newtd);
                })
                let btntd = document.createElement("td");
                let btn = document.createElement("button");
                btn.setAttribute("class", "btn btn-outline-secondary");
                btn.setAttribute("data-toggle", "modal");
                btn.setAttribute("data-target", "#boxCenter");
                btn.innerHTML = "檢視";
                btntd.appendChild(btn);
                newtr.appendChild(btntd);
                docfrag.appendChild(newtr);
            });

            tbody.innerHTML = "";
            tbody.appendChild(docfrag);

        }
    }
    );


</script>