@inject CoffeeContext pd

@{
    ViewData["Title"] = "Car2";
}

@section Style
{
    <style>
        .prebtn {
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 150px;
            height: 46px;
            color: whitesmoke;
            background-color: #9D9D9D;
            border: 2px solid #9D9D9D;
            border-radius: 2px;
            padding: 0 20px;
            font-size: 16px;
            line-height: 42px;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 10px;
        }

            .prebtn:hover {
                font-size: 16px;
                color: #9D9D9D;
                font-weight: 600;
                background-color: transparent;
                box-shadow: none;
            }

        #map {
            margin: 30px;
        }
    </style>
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>配送付款資訊填寫</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home"><i class="fa fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Cart Area Start ##### -->
<div class="cart-area section-padding-0-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">

                    <div class="progress" style="height: 40px; background-color: #F0F0F0; margin-bottom: 50px;">
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px; background-color: #BEBEBE" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">確認購物車</div>
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">付款與運送方式</div>
                        <div class="progress-bar" role="progressbar" style="width: 34%; font-size: 15px; background-color: #BEBEBE" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">最後確認</div>
                    </div>

                    <form asp-action="Car2" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6" id="couponlist">
                                <div class="coupon-discount">
                                    <h5 class="alert alert-secondary">收貨人資訊</h5>
                                    <div class="form-group">
                                        <span class="control-label col-md-2">收件人姓名</span>
                                        <div class="col-8">
                                            <input type="text" id="fReceiver" name="fReceiver" required="required" class="form-control" placeholder="請輸入中文全名" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="control-label col-md-2">收件人電話</span>
                                        <div class="col-8">
                                            <input type="text" id="fPhone" name="fPhone" required="required" class="form-control" placeholder="請輸入格式為:09xxxxxxxx" pattern="09\d{8}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" id="couponlist">
                                <div class="coupon-discount ">
                                    <h5 class="alert alert-secondary">付款方式</h5>
                                    <div class="form-group">
                                        <span class="control-label col-md-2">付款方式</span>
                                        <div class="col-md-10">
                                            @Html.RadioButton("payment", "2", new { @id = "btnpayment", required = "required" }) 信用卡<br />
                                            @Html.RadioButton("payment", "1")貨到付款
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" id="couponlist">
                                <div class="coupon-discount">
                                    <h5 class="alert alert-secondary">配貨方式</h5>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div id="search">
                                                <input type="hidden" id="memaddress" value="@ViewBag.memAddress" />
                                                <select id="slPlaceTypes" onchange="TimDiaDiem(this.value)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                    <option selected>請選擇配送方式</option>
                                                    <option>宅配到府</option>
                                                    <option value="convenience_store">超商取貨</option>
                                                </select>
                                            </div>
                                            <input id="content" name="fAddress" placeholder="請輸入寄送地址" style="width:300px" required /><br />
                                            <div id="map" style="width:1000px; height:500px"></div>

                                            <input type="hidden" id="discountid" name="discountid" value="@ViewData["discount"]" class="form-control" />

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    @Html.ActionLink("返回上一步", "ShoppingCar", "Shopping", null, new { @class = "btn prebtn" })
                                                    <input type="submit" value="前往最後確認" class="btn alazea-btn" id="nextpage" style="border-radius:10px;" />
                                                    <input type="button" value="DEMO" class="btn alazea-btn" id="Demo1" style="border-radius:10px;" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>



    </div>
</div>
<!-- ##### Cart Area End ##### -->
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img mt-50" style="background-image: url(../../img/bg-img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- 法定名稱 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="/"><img src="/img/Home-img/CLogo.png" alt="" style="width:13em;height:6em"></a>
                        </div>
                        <p>財團法人西夏普文教基金會</p>
                        <div class="social-info">
                            @*<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>

                <!-- 網站導覽 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>網站導覽</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="/Shop/view">商品一覽</a></li>
                                <li><a href="/CAboutMe/faceToMe">關於我們</a></li>
                                <li><a href="/CFrog/faceToFrog">雨林聯盟</a></li>
                                <li><a href="/CArticle/faceToArticle">咖啡好文</a></li>
                                <li><a href="/Constellation/faceToConstellation">星座咖啡</a></li>
                                <li><a href="/MemCenter/Index">會員中心</a></li>
                                <li><a href="/Shopping/ShoppingCarEmpty">前往結帳</a></li>
                                <li><a href="/home/onlineServices">即時客服</a></li>
                                <li><a href="https://forms.gle/GuFsMzqkbW2AdNWz9" target="_blank">填寫問券</a></li>
                                <li><a href="#" onclick="window.open('/AIbot.html', '線上客服', 'width=450,height=550')">智能客服</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- 經典咖啡推薦 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>經典咖啡推薦</h5>
                        </div>

                        <!-- Single Best Seller Products -->
                        @{
                            Random rd = new Random();
                            var footpd1 = pd.Products.AsEnumerable().Where(p => p.CategoryId == 1).OrderBy(f => rd.Next()).Take(10);
                            var footpd2 = footpd1.OrderBy(f => rd.Next()).Take(2).ToList();

                            foreach (var item in footpd2)
                            {
                                <div class="single-best-seller-product d-flex align-items-center">
                                    <div class="product-thumbnail">
                                        <a href="/Shop/detail/@item.ProductId"><img src="/images/@item.MainPhotoPath" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <a href="/Shop/detail/@item.ProductId">@item.ProductName</a>
                                        <p>NT$@Convert.ToInt32(item.Price)</p>
                                    </div>
                                </div>
                            }
                        }


                        @*<div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/Shop/detail/41"><img src="/images/393e691c-c9f4-4f7b-9321-142467f5894c.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/Shop/detail/41">西夏普 夏日驕陽配方</a>
                                    <p>NT$180</p>
                                </div>
                            </div>*@

                    </div>
                </div>

                <!-- 聯絡我們-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>聯絡我們</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>電話:</span> 02-2222-2222</p>
                            <p><span>地址:</span> 台北市大安區復興南路一段390號2樓</p>
                            <p><span>電子郵件:</span> cscoffee@msit141.com.tw</p>
                            <p><span>即時客服聯絡時間:</span> 09:30~18:30</p>
                            @*<p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            © MSIT141 西夏普咖啡 ©&copy;
                            <script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i><a href="#" target="_blank"></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- 底部聯結 -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/CAboutMe/faceToMe">About</a></li>
                                <li><a href="/Shop/view">Shop</a></li>
                                <li><a href="/CArticle/faceToArticle">Blog</a></li>
                                <li><a href="/MemCenter/Index">MemberCenter</a></li>
                                <li><a href="/home/onlineServices">Customer Service</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


@section Scripts
{
    <script type="text/javascript">

        //地圖======
        var bando = null;
        var lat = 0;
        var long = 0;
        var infowindow = null;
        var arrMarkers = [];

        function initMap() {
            infowindow = new google.maps.InfoWindow();
            window.navigator.geolocation.getCurrentPosition(function (pos) {
                lat = pos.coords.latitude;
                long = pos.coords.longitude;
                console.log(lat, long)
                bando = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: lat, lng: long },
                    zoom: 15
                });
                var marker = new google.maps.Marker({
                    position: { lat: lat, lng: long },
                    map: bando,
                    icon: { url: 'http://maps.google.com/mapfiles/ms/micons/flag.png' }
                });
            });

        }

        function TimDiaDiem(loaidiadiem) {
            if (loaidiadiem == "宅配到府") {
                $("#content").val($("#memaddress").val());
            }
            else if (loaidiadiem == "convenience_store") {
                var req = {
                    location: { lat: lat, lng: long },
                    radius: '1000',
                    type: loaidiadiem
                }
                var service = new google.maps.places.PlacesService(bando);
                service.nearbySearch(req, function (result, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK && result && result.length > 0) {
                        for (var i in arrMarkers)
                            arrMarkers[i].setMap(null);
                        arrMarkers = [];
                        for (var i in result) {
                            var place = result[i];
                            var marker = new google.maps.Marker({
                                map: bando,
                                title: place.name,
                                content: '<strong>' + place.name + "</strong><br />" + place.vicinity,
                                position: place.geometry.location,
                                data: place
                            });
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.setContent(this.content);
                                infowindow.open(bando, this);
                                TimDuong(this.data);
                            });
                            arrMarkers.push(marker);
                        }
                    }
                })
            }

            else return;
        }

        var ddisplay = null;
        function TimDuong(place) {
            var dservice = new google.maps.DirectionsService();

            if (ddisplay) ddisplay.setMap(null);

            ddisplay = new google.maps.DirectionsRenderer();
            ddisplay.setMap(bando);
            var req = {
                origin: { lat: lat, lng: long },
                destination: place.geometry.location,
                travelMode: "WALKING",
                provideRouteAlternatives: true
            };
            dservice.route(req, function (result, status) {
                if (status == "OK") ddisplay.setDirections(result);
            });


            var shopname = place.name;
            var shopaddress = (place.plus_code.compound_code).substring(10) + (place.vicinity).substring(3);
            var t = document.querySelector("#content");
            t.value = shopaddress;
        }

        $("#Demo1").click(function () {
            $("#fReceiver").val("張三");
            $("#fPhone").val("0911222333");
            $("#btnpayment").attr("checked", "checked")

        })

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGpyWf0sKrCz1tKARvQDXEtpuRZQQ5JhI&libraries=places&callback=initMap"
            async defer></script>


}




