@model IEnumerable<prjCSCoffee.Models.CShoppingCartItem>

@{
    ViewData["Title"] = "Car3";
    int count = 0;
    int Fee = 0;
    int Subtotal = 0;
    int Total = 0;
}

@section Style
{
    <style>
        .picbox {
            height: 60px;
        }

        .size span {
            font-size: 20px;
        }

        .prebtn {
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 150px;
            height: 46px;
            color: whitesmoke;
            background-color: #9D9D9D;
            border: 2px solid #9D9D9D;
            border-radius: 2px;
            padding: 0 20px;
            font-size: 16px;
            line-height: 42px;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 10px;
        }

            .prebtn:hover {
                font-size: 16px;
                color: #9D9D9D;
                font-weight: 600;
                background-color: transparent;
                box-shadow: none;
            }
    </style>
}


<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>購物明細確認</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home"><i class="fa fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Cart Area Start ##### -->
<div class="cart-area section-padding-0-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">

                    <div class="progress" style="height: 40px; background-color: #F0F0F0; margin-bottom: 50px;">
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px; background-color: #BEBEBE" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">確認購物車</div>
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px; background-color: #BEBEBE" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">付款與運送方式</div>
                        <div class="progress-bar" role="progressbar" style="width: 34%; font-size: 15px;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">最後確認</div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-7">
                                    產品名稱
                                </th>
                                <th class="col-md-1.5" style="text-align:center">
                                    @Html.DisplayNameFor(model => model.count)
                                </th>
                                <th class="col-md-1.5" style="text-align:center">
                                    @Html.DisplayNameFor(model => model.price)
                                </th>
                                <th class="col-md-2" style="text-align:center">
                                    @Html.DisplayNameFor(model => model.小計)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                Subtotal += (int)item.小計;
                                int price = (int)item.price;
                                int 小計 = (int)item.小計;
                                int Discount = @ViewBag.discountmoney;
                                if ((Subtotal - Discount) >= 1200) { Fee = 0; Total = Subtotal - Discount + Fee; }
                                else if ((Subtotal - Discount) < 1200) { Fee = 100; Total = Subtotal - Discount + Fee; }
                                <tr>
                                    <td class="col-md-7">
                                        @if (item.mainPhotoPath == null)
                                        {
                                            <img class="picbox" src="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg">
                                        }
                                        else
                                        {
                                            <img class="picbox" src="~/images/@item.mainPhotoPath">
                                        }
                                        @{
                                            if (price != item.product.Price)
                                            {
                                                @item.product.ProductName
                                                <p id="salepro" style="color:#FF7575;">&lt;促銷商品&gt;</p>
                                            }
                                            else
                                            {
                                                @item.product.ProductName
                                            }
                                        }

                                    </td>
                                    <td class="col-md-1.5" style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.count)
                                    </td>
                                    <td class="col-md-1.5" style="text-align:center">
                                        @{
                                            if (price != item.product.Price)
                                            {
                                                <p style="text-decoration:line-through;">NT$@(Convert.ToInt32(item.product.Price).ToString("0"))</p>
                                                <p id="txtprice" style="color:#FF7575;">NT$@price</p>
                                            }
                                            else
                                            {
                                                <p id="txtprice">NT$@price</p>
                                            }
                                        }

                                    </td>
                                    <td class="col-md-2" style="text-align:center">
                                        <p id="txtcount">NT$@小計</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">

                        <div class="col-12 col-lg-6 size">
                            <div class="cart-totals-area mt-70">
                                <h5 class="alert alert-secondary">訂單資訊</h5>
                                @foreach (var item in Model)
                                {
                                    <div class="subtotal d-flex justify-content-between">
                                        <span>收件人姓名  :  @item.Receiver</span>
                                    </div>
                                    <div class="subtotal d-flex justify-content-between">
                                        <span>收件人電話  :  @item.Phone</span>
                                    </div>
                                    <div class="subtotal d-flex justify-content-between">
                                        <span>收件人地址  :  @item.Address</span>
                                    </div>
                                    <div class="total d-flex justify-content-between">
                                        <span>付款方式  :  @item.Paymentname</span>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 size">
                            <div class="cart-totals-area mt-70">
                                <h5 class="alert alert-secondary">訂單資訊</h5>
                                <div class="subtotal d-flex justify-content-between">
                                    <span>小計 : </span>
                                    <h5 id="labSubtotal">NT$ @Subtotal</h5>
                                </div>
                                <div class="subtotal d-flex justify-content-between">
                                    <span>折扣優惠 : </span>
                                    <h5 id="labDiscount">-NT$ @ViewBag.discountmoney</h5>
                                </div>
                                <div class="subtotal d-flex justify-content-between">
                                    <span>運費 : </span>
                                    <h5 id="labFee">NT$ @Fee</h5>
                                </div>
                                <div class="subtotal d-flex justify-content-between">
                                    <span>共 @count 項商品</span>
                                </div>
                                <div class="total d-flex justify-content-between">
                                    <span>總金額 : </span>
                                    <h5 id="labTotal">NT$ @Total</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br /><br />


                    <form id="formCreditCard" method="post" accept-charset="UTF-8" action="https://payment-stage.opay.tw/Cashier/AioCheckOut/V5">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    我已確認訂購內容及寄送資訊無誤
                                </label>
                                <div class="invalid-feedback">
                                    您必須在提交前同意
                                </div>
                            </div>
                        </div>


                        <input type="hidden" name="MerchantID" value="2000132" />

                        <input type="hidden" name="MerchantTradeNo" value="@ViewBag.tradeNo" />

                        <input type="hidden" name="MerchantTradeDate" value="@ViewBag.timenow" />

                        <input type="hidden" name="PaymentType" value="aio" />

                        <input type="hidden" name="TotalAmount" value="@ViewBag.Total" />

                        <input type="hidden" name="TradeDesc" value="建立信用卡測試訂單" />

                        <input type="hidden" name="ItemName" value="@ViewBag.ItemName" />

                        <input type="hidden" name="ReturnURL" value="https://developers.opay.tw/AioMock/MerchantReturnUrl" />

                        <input type="hidden" name="ChoosePayment" value="Credit" />

                        <input type="hidden" name="StoreID" value="" />

                        <input type="hidden" name="ClientBackURL" value="@ViewBag.ClientBackURL" />

                        <input type="hidden" name="CreditInstallment" value="" />

                        <input type="hidden" name="InstallmentAmount" value="" />

                        <input type="hidden" name="Redeem" value="" />

                        <input type="hidden" name="EncryptType" value="1" />

                        <input type="hidden" name="CheckMacValue" value="@ViewBag.checkMacValue" />

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("返回上一步", "Car2", "Shopping", null, new { @class = "btn prebtn" })
                                <input type="submit" value="確認訂購" class="btn alazea-btn" style="border-radius:10px;" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>



    </div>
</div>
<!-- ##### Cart Area End ##### -->

