@*@model IEnumerable<prjProduct_core.ViewModel.CRelatedViewModel>*@
@model IEnumerable<prjCSCoffee.ViewModel.CShoppingCarDetailsViewModel>
<div class="container wow fadeInUp" data-wow-delay="100ms">
    <div class="row">
        <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center">
                <h2>猜您可能還會喜歡......</h2>
            </div>
        </div>
    </div>

    <div class="row">

        @foreach (var item in Model)
        {
            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-product-area mb-100">
                    <!-- Product Image -->
                    <div class="product-img" style="height:350px;">
                        @if (item.ProPhotoPath == null)
                        {
                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductsId"><img src="~/img/Home-img/03.jpg" alt=""></a>
                        }
                        else
                        {
                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductsId"> <img src="~/images/@item.ProPhotoPath"></a>
                        }
                        @*<a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductsId"><img src="~/img/Home-img/03.jpg" alt=""></a>*@
                        @*<a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductsId"><img class="pdpicbox" src="~/images/@item.ProPhotoPath"></a>*@



                        <div class="product-meta">
                            <a style="cursor:pointer; margin:0 auto;" class="add-to-cart-btn" id="addtocart">Add to cart</a>
                            <input type="hidden" value="@ViewBag.detailid" id="proDetialsId" />
                            <input type="hidden" value="@item.ProductsId" id="proid" />
                            <input type="hidden" value="@item.ProName" id="proname" />
                            <input type="hidden" value="@item.Price" id="proprice" />
                            @*<input type="hidden" value="@item.ProPhotoPath" id="proPhotoPath" />*@

                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductsId">
                            <p>@item.ProName</p>
                        </a>
                        <h6>NT$@item.Price</h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    //=================加入購物車========================
    let ShoppingCarDetialsId;
    let flag = true;
    $(".add-to-cart-btn").click(function () {
        let proid = $(this).parent().find("#proid").val();
        let proname = $(this).parent().find("#proname").val();
        let proprice = $(this).parent().find("#proprice").val();
        if (flag == true) {
            ShoppingCarDetialsId = parseInt($(this).parent().find("#proDetialsId").val());
            flag = false;
        }

        $.get('@Url.Content("~/shopping/AddtoCart")', { "id": proid, "quantity": 1, "price" : proprice },
            function (data) {
                if (data === "add") {
                    $.bootstrapGrowl("成功加入購物車", {
                        ele: "body",
                        type: "success",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                    CountCart();
                    let haspro = $(`tbody:contains('${proname}')`).length;
                    if (haspro != 0) {
                        let hasname = $(`td:contains('${proname}')`);
                        let qty = parseInt(hasname.next().find("#txtQty").val()) + 1;
                        hasname.next().find("#txtQty").val(qty);
                        let price = hasname.next().next().find("#txtprice").text().trim().substring(3);
                        let 小計 = ("NT$") + (qty * price);
                        hasname.next().next().next().find("#txtcount").text(小計);
                    }
                    else
                    {
                        ShoppingCarDetialsId = ShoppingCarDetialsId + 1;
                        $("#detailcart").load('@Url.Content("~/shopping/PartialViewCart")');
                    }
                    計算購物明細();

                }
                else {
                        window.location.href = '@Url.Content("~/Home/Login")';
                }
            }
        );
    })

    async function CountCart() {
        let countCart = document.querySelector("#countCart");
        const response = await fetch('@Url.Content("~/api/CountCart")');
        const result = await response.text();
        countCart.innerHTML = result;
        $("#cart-count").html(`${result}`);
    }


    function 計算購物明細() {
        //計算總金額=======================================================
        let discount = 0;
        let subtotal = 0;
        let fee = 0;
        let total = 0;
        $("p").filter("#txtcount").each(function () {
            subtotal += parseInt($(this).text().trim().substring(3));
        })
        //判斷運費===========================================================
        if (subtotal < 1200) {
            fee = 100;
            total = subtotal + fee;
            $("#labSubtotal").text("NT$ " + subtotal);
            $("#labDiscount").text("-NT$ " + discount);
            $("#labFee").text("NT$ " + fee);
            $("#labTotal").text("NT$ " + total);
        }
        else if (subtotal >= 1200) {
            fee = 0;
            total = subtotal + fee;
            $("#labSubtotal").text("NT$ " + subtotal);
            $("#labDiscount").text("-NT$ " + discount);
            $("#labFee").text("NT$ " + fee);
            $("#labTotal").text("NT$ " + total);
        }
    }

</script>
