@model IEnumerable<prjCSCoffee.Models.CShoppingCartItem>

@{
    ViewData["Title"] = "ShoppingCar";
    int count = 0;
    int Fee = 0;
    int Subtotal = 0;
    int Total = 0;
    int Discount = 0;

}

@*@section Style
    {
        <style>
            #table1 th {
                text-align: center;
                vertical-align: central;
            }
        </style>
    }*@


<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
        <h2>購物車</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item"><a asp-action="index" asp-controller="Home"></a><a href="#"><i class="fa fa-home"></i> Home</a></li>*@
                        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home"><i class="fa fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Cart Area Start ##### -->
<div class="cart-area section-padding-0-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">

                    <div class="progress" style="height: 40px; background-color: #F0F0F0; margin-bottom: 50px;">
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">商品確認</div>
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px; background-color: #BEBEBE " aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">付款方式</div>
                        <div class="progress-bar" role="progressbar" style="width: 34%; font-size: 15px; background-color: #BEBEBE " aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">最後確認</div>
                    </div>

                    <table class="table table-hover">
                        <thead id="table1">
                            <tr>
                                <th>
                                    產品名稱
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.count)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.小計)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    count++;
                                    Subtotal += (int)item.小計;
                                    int price = (int)item.price;
                                    int 小計 = (int)item.小計;
                                    if (Subtotal >= 1200) { Fee = 0; Total = Subtotal; }
                                    else if (Subtotal < 1200) { Fee = 100; Total = Subtotal + Fee; }

                                    <tr>
                                        <td>
                                            <input type="hidden" value="@item.productId" name="productId" id="productId" />
                                            @item.productId
                                            @item.product.ProductName
                                        </td>
                                        <td>
                                            <div class="quantity">
                                                <span class="qty-minus" id="reduce" name="reduce"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                <input type="text" class="qty-text" id="txtQty" step="1" min="1" name="txtQty" value="@item.count" readonly>
                                                <span class="qty-plus" id="plus" name="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                <input type="hidden" id="stock" name="stock" value="@item.stock" />
                                            </div>
                                        </td>
                                        <td>
                                            @*<p id="txtprice">NT$@item.price</p>*@
                                            <p id="txtprice">NT$@price</p>
                                        </td>
                                        <td>
                                            @*<p id="txtcount">NT$@item.小計</p>*@
                                            <p id="txtcount">NT$@小計</p>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "Shopping", new { id = item.productId })" onclick="return confirm('確定要刪除嗎?')"><i class="icon_close"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Coupon Discount -->
            <div class="col-12 col-lg-6" id="couponlist">
                <div class="coupon-discount mt-70">
                    <h5 class="alert alert-secondary">查看擁有的優惠卷</h5>
                    @foreach (var item in Model)
                    {
                        @await Html.PartialAsync("_CouponList", item)
                        break;
                    }
                </div>
            </div>


            <!-- Cart Totals -->
            <div class="col-12 col-lg-6 ">
                <div class="cart-totals-area mt-70">
                    <h5 class="alert alert-secondary">訂單資訊</h5>
                    <div class="subtotal d-flex justify-content-between">
                        <h5>小計 : </h5>
                        <h5 id="labSubtotal">NT$ @Subtotal</h5>
                    </div>
                    <div class="subtotal d-flex justify-content-between">
                        <h5>折扣優惠 : </h5>
                        <h5 id="labDiscount">-NT$ @Discount</h5>
                    </div>
                    <div class="subtotal d-flex justify-content-between">
                        <h5>運費 : </h5>
                        <h5 id="labFee">NT$ @Fee</h5>
                    </div>
                    <div class="subtotal d-flex justify-content-between">
                        <h6>共 @count 項商品</h6>
                    </div>
                    <div class="total d-flex justify-content-between">
                        <h5>總金額 : </h5>
                        <h5 id="labTotal">NT$ @Total</h5>
                    </div>
                    <div class="checkout-btn">
                        @Html.ActionLink("前往結帳", "Car2", "Shopping", null, new { @class = "btn alazea-btn w-100" })
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ##### Cart Area End ##### -->



@section Scripts
{
    <script>
        //購物車數量計算(layout上的圖示)=======================================================
        async function CountCart() {
            let countCart = document.querySelector("#countCart");
            const response = await fetch('@Url.Content("~/api/CountCart")');
            const result = await response.text();
            countCart.innerHTML = `(${result})`;
        }

        async function CAdd(id) {
            const response = await fetch("@Url.Content("~/shopping/plus")" + `?id=${id}`);
            CountCart();
        }
        async function CReduce(id) {
             const response = await fetch("@Url.Content("~/shopping/Reduce")" + `?id=${id}`);
             /*const data = await response.Int32Array();*/
             CountCart();
        }

        //從這原本ㄉ============================================================

        $("tbody").on("click", "#plus", PLUS);
        function PLUS() {
            let id = $(this).parent().parent().prev().find("#productId").val();
            let qty = parseInt($(this).parent().find(".qty-text").val()) + 1;
            let stock = $(this).parent().find("#stock").val();
            if (qty > stock) {
                qty -= 1;
                window.alert("已達可訂購最高數量");
            }
            else {
                let price = $(this).parent().parent().next().find("#txtprice").text().trim().substring(3);
                let 小計 = ("NT$") + (qty * price);
                $(this).parent().find(".qty-text").val(qty);
                $(this).parent().parent().next().next().find("#txtcount").text(小計);

                計算購物明細();
                CAdd(id);

            }
        }

        $("tbody").on("click", "#reduce", REDUCE);
        function REDUCE() {
            let id = $(this).parent().parent().prev().find("#productId").val();
            let qty = parseInt($(this).parent().find(".qty-text").val()) - 1;
            if (qty < 1) qty = 1;
            else {
                let price = $(this).parent().parent().next().find("#txtprice").text().trim().substring(3);
                let 小計 = ("NT$") + (qty * price);
                $(this).parent().find(".qty-text").val(qty);
                $(this).parent().parent().next().next().find("#txtcount").text(小計);

                計算購物明細();
                CReduce(id);

            }
        }

        function 計算購物明細() {
            //計算總金額=======================================================
            let discount = 0;
            let subtotal = 0;
            let fee = 0;
            $("p").filter("#txtcount").each(function () {
                subtotal += parseInt($(this).text().trim().substring(3));
            })
            //判斷運費===========================================================
            if (subtotal < 1200) {
                fee = 100;
                total = subtotal + fee;
                $("#labSubtotal").text("NT$ " + subtotal);
                $("#labDiscount").text("-NT$ " + discount);
                $("#labFee").text("NT$ " + fee);
                $("#labTotal").text("NT$ " + total);
            }
            else if (subtotal >= 1200) {
                fee = 0;
                total = subtotal + fee;
                $("#labSubtotal").text("NT$ " + subtotal);
                $("#labDiscount").text("-NT$ " + discount);
                $("#labFee").text("NT$ " + fee);
                $("#labTotal").text("NT$ " + total);
            }
        }

        $("#couponlist").on("click", "#pay", function () {
            let discount = parseInt($(this).parent().find("#moeny").val());
            let id = parseInt($(this).parent().find("#moenyid").val());
            let subtotal = 0;
            let fee = 0;
            $("p").filter("#txtcount").each(function () {
                subtotal += parseInt($(this).text().trim().substring(3));
            })

            //判斷運費===========================================================
            if ((subtotal - discount) < 1200) {
                fee = 100;
                total = subtotal + fee - discount;
                $("#labSubtotal").text("NT$ " + subtotal);
                $("#labDiscount").text("-NT$ " + discount);
                $("#labFee").text("NT$ " + fee);
                $("#labTotal").text("NT$ " + total);
            }
            else if ((subtotal - discount)>= 1200) {
                fee = 0;
                total = subtotal + fee - discount;
                $("#labSubtotal").text("NT$ " + subtotal);
                $("#labDiscount").text("-NT$ " + discount);
                $("#labFee").text("NT$ " + fee);
                $("#labTotal").text("NT$ " + total);
            }


            //TODO 111折價眷抓步道

            @*$.ajax({
                url: '@Url.Content("~/shopping/UseCoupon")',
                type: 'GET',
                data: { "id": id },
                dataType: Int32Array
            })*@

        })

    </script>

}
