@model IEnumerable<prjCSCoffee.Models.CShoppingCartItem>

@{
    ViewData["Title"] = "ShoppingCarEmpty";
    int count = 0;
    int Fee = 0;
    int Subtotal = 0;
    int Total = 0;
    int Discount = 0;
}


<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
        <h2>購物車</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Cart Area Start ##### -->
<div class="cart-area section-padding-0-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">

                    <div class="progress" style="height: 40px; background-color: #F0F0F0;">
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">商品確認</div>
                        <div class="progress-bar" role="progressbar" style="width: 33%; font-size: 15px; background-color: #BEBEBE " aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">付款方式</div>
                        <div class="progress-bar" role="progressbar" style="width: 34%; font-size: 15px; background-color: #BEBEBE " aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">最後確認</div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    產品名稱
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.count)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.小計)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    目前尚無商品，快去加入購物車吧!
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="row">
            <!-- Coupon Discount -->
            <div class="col-12 col-lg-6" id="couponlist">
                <div class="coupon-discount mt-70">
                    <h5 class="alert alert-secondary">查看擁有的優惠卷</h5>
                </div>
            </div>

            <!-- Cart Totals -->
            <div class="col-12 col-lg-6 ">
                <div class="cart-totals-area mt-70">
                    <h5 class="alert alert-secondary">訂單資訊</h5>
                    <div class="subtotal d-flex justify-content-between">
                        <h5>小計 : </h5>
                        <h5 id="labSubtotal">NT$ @Subtotal</h5>
                    </div>
                    <div class="subtotal d-flex justify-content-between">
                        <h5>折扣優惠 : </h5>
                        <h5 id="labDiscount">-NT$ @Discount</h5>
                    </div>
                    <div class="subtotal d-flex justify-content-between">
                        <h5>運費 : </h5>
                        <h5 id="labFee">NT$ @Fee</h5>
                    </div>
                    <div class="subtotal d-flex justify-content-between">
                        <h6>共 @count 項商品</h6>
                    </div>
                    <div class="total d-flex justify-content-between">
                        <h5>總金額 : </h5>
                        <h5 id="labTotal">NT$ @Total</h5>
                    </div>
                    <div class="checkout-btn">
                        <input type="button" class="btn alazea-btn w-100" value="前往結帳" id="btnsubmit" />
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>
<!-- ##### Cart Area End ##### -->



@section Scripts
{
    <script>
        $("#btnsubmit").click(function () {
            window.alert("目前購物車為空，無法結帳");
        })

    </script>
}