@using prjProduct_core.ViewModel
@using prjProduct_core.Controllers
@model List<CArticleCommentViewModel>
<style>
    .divlv_0 {
        border: 0.25em solid orange;
        border-radius: 20px;
    }
</style>
@*<h4>文章討論</h4>*@

<div id="divtest">
    @{ //顯示最高層級討論(parentId==0)
        List<CArticleCommentViewModel> list = Model.Where(x => x.ArticleCommentParentId == 0).ToList();

        foreach (var item in list)
        {

            LoadArticleComments(item, getACommentsChildrenCount(item));


        }

        //取得子回覆
        void getArticleComment(CArticleCommentViewModel acvModel)
        {
            <div id="d_@acvModel.ArticleCommentId">
                @{
                    List<CArticleCommentViewModel> list = Model.Where(ac => ac.ArticleCommentParentId == acvModel.ArticleCommentId).ToList();
                    foreach (var item in list)
                    {
                        LoadArticleComments(item, getACommentsChildrenCount(item));
                    }
                }
            </div>
        }

        //取得子回覆數量
        int getACommentsChildrenCount(CArticleCommentViewModel item)
        {
            return Model.Count(a => a.ArticleCommentParentId == item.ArticleCommentId);
        }

        //顯示回覆
        void LoadArticleComments(CArticleCommentViewModel cavModel, int count)
        {

            <div class="m-3 ml-4 divlv_@cavModel.ArticleCommentParentId">

                @{
                    if (cavModel.ArticleCommentId == Model.FirstOrDefault().ArticleCommentId)
                    {
                        <small class="text-danger">New</small>
                        <span class="font-bold">@cavModel.MemberName &nbsp;：</span>
                    }
                    else
                    {
                        <span class="font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@cavModel.MemberName &nbsp;：</span>
                    }
                    if (cavModel.ArticleCommentDescription.IndexOf("@") == -1)
                    {
                        <span style="background-color:linen; color:black;border-radius:20px" class="prodnamelike">@cavModel.ArticleCommentDescription&nbsp;&nbsp;</span>
                    }
                    else
                    {
                        if (cavModel.ArticleCommentDescription.IndexOf(" ") != -1)
                        {
                            int t1 = cavModel.ArticleCommentDescription.IndexOf("@");
                            int t2 = cavModel.ArticleCommentDescription.LastIndexOf(" ");
                            int t3 = t2 - t1;
                            int t4 = t3 - 1;
                            <span style="background-color:linen; color:black;border-radius:20px" class="prodnamelike">@cavModel.ArticleCommentDescription.Split("@")[0]<em style="color:red">@@@cavModel.ArticleCommentDescription.Split("@")[1].Substring(0, t4)</em>@cavModel.ArticleCommentDescription.Substring(t2)&nbsp;&nbsp;</span>
                        }
                        else
                        {
                            <span style="background-color:linen; color:black;border-radius:20px" class="prodnamelike">@cavModel.ArticleCommentDescription&nbsp;&nbsp;</span>
                        }

                    }

                    <br />
                    <span> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                }
                @{
                    if (count != 0)
                    {
                        <small style="cursor:pointer" class="text-success" onclick="showDiv(@cavModel.ArticleCommentId)">隱藏@(count)則回覆</small>
                    }
                    else
                    {
                        <small class="text-black-50 text-sm">(尚無回覆)</small>
                    };
                    //隱藏回覆紐
                    <i style="font-size:x-large;cursor:pointer" id="r_@cavModel.ArticleCommentId" class="bi bi-reply-all-fill text-info"></i>
                    //隱藏回覆紐

                    //新增回覆
                    <div>
                        <span id="s_@cavModel.ArticleCommentId" hidden="hidden">回覆：</span>
                        <input id="ip_@cavModel.ArticleCommentId" class="anwsering" type="text" name="txtArticleComment" style="width:80%" hidden="hidden" />
                        <ul id="u_@cavModel.ArticleCommentId" class="border border-light bg-light ulAuto" style="list-style-type:none;"></ul>
                        <button id="b_@cavModel.ArticleCommentId" class="btnNewAComment btn btn-sm btn-outline-info " hidden="hidden">送出回覆</button>
                    </div>
                    //新增回覆
                    getArticleComment(cavModel);
                }
            </div>
        }
    }

</div>

<script>
    $(".btnNewAComment").click(function () {
        let cd = $(event.target).attr("id").substr(2);
        let aid = @Model.Select(x => x.ArticleId).FirstOrDefault();
        let txtArticleComment = $(`#ip_${cd}`).val();

        $.get('@Url.Content("~/CArticle/CheckArticleCommentMemberId")', function (dt) {
            if (dt != "NoMember") {
                $.post('@Url.Content("~/CArticle/AddArticleComment")', {
                    "MemberId": dt,
                    "ArticleId": aid,
                    "ArticleCommentParentId": cd,
                    "ArticleCommentDescription": txtArticleComment
                }, function (data) {
                        if (data === "login") {
                        alert("留言前請先登入會員")
                        window.location.href = '@Url.Content("~/Home/Login")';
                    } else {
                        $("#divAComment").load('@Url.Content("~/CArticle/faceToArticleComment")', { "articleId": aid });
                    }
                })
            } else {
                $.post('@Url.Content("~/CArticle/AddArticleComment")', {
                    "MemberId": 1,
                    "ArticleId": aid,
                    "ArticleCommentParentId": cd,
                    "ArticleCommentDescription": txtArticleComment
                }, function (data) {
                        if (data === "login") {
                        alert("留言前請先登入會員")
                        window.location.href = '@Url.Content("~/Home/Login")';
                    } else {
                        $("#divAComment").load('@Url.Content("~/CArticle/faceToArticleComment")', { "articleId": aid });
                    }
                })
            }

        })
    })
    $(".bi-reply-all-fill").click(function () {
        let acmd = $(event.target).attr("id").substr(2);
        if ($(`#s_${acmd}`).attr("hidden") == "hidden") {
            $(`#s_${acmd}`).removeAttr("hidden");
            $(`#ip_${acmd}`).removeAttr("hidden");
            $(`#b_${acmd}`).removeAttr("hidden");
            $(`#ip_${acmd}`).attr("placeholder", "回覆" + `${$(`#ip_${acmd}`).parent().parent().children("span").get(0).innerText.replace("：", "").trim()}` + "訊息")
        }
        else {
            $(`#s_${acmd}`).attr("hidden", "hidden");
            $(`#ip_${acmd}`).attr("hidden", "hidden");
            $(`#b_${acmd}`).attr("hidden", "hidden");
        }
    })

    //showDiv 方法
    function showDiv(divId) {
        let d = document.querySelector(`#d_${divId}`);
        let e = event.target;
        let c = e.innerText.substr(2, 1)
        if (d.hasAttribute('hidden')) {
            d.removeAttribute('hidden');
            e.setAttribute("class", "text-success")
            e.innerText = `隱藏${c}則回覆`;
            return;
        } else {
            d.setAttribute('hidden', "");
            e.setAttribute("class", "text-primary")
            e.innerText = `查看${c}則回覆`;
            return;
        }

    }

    $(".anwsering").focus(function () {
        $(".focus").removeAttr("class","focus foc")
        event.target.setAttribute("class","focus foc")
    })
    $(".font-bold").click(function () {
        $(".focus").val(`${event.target.innerText.trim()}`)
    })
    $(".prodnamelike").click(function () {
        var PdtName = event.target.innerText.trim();
        if (event.target.innerText.indexOf("@@") == -1) {
            $.get('@Url.Content("~/CArticle/prodNamelike")', { "PdtName": PdtName }, function (data) {
                if (data == "false") {
                    return;
                }
                else {
                    var n = data;
                    window.location.href = '@Url.Content("~/Shop/detail")' + `?id=${n}`;
                }
            })
        }
        else {
            let n = event.target.innerText.indexOf("@@") + 1
            PdtName = event.target.innerText.length>10? event.target.innerText.substr(n,10):event.target.innerText.substr(n,event.target.innerText.length-2)
                $.get('@Url.Content("~/CArticle/prodNamelike")', { "PdtName": PdtName }, function (data) {
                if (data == "false") {
                    return;
                }
                else {
                    var n = data;
                    window.location.href = '@Url.Content("~/Shop/detail")' + `?id=${n}`;
                }
            })
            //console.log(PdtName)
        }
        //console.log(PdtName)

    })



    //自動提詞
    //const commentInput = $(".anwsering")
    //console.log(commentInput)
    let ulAuto
    let f = document.createDocumentFragment();
    let len
    $(".anwsering").keydown(function (event) {
        if (event.shiftKey && event.keyCode == 50) {
            len = $('.foc').val().length + 1
            document.querySelector(".foc").addEventListener('input', inp)
        }
    })

    function inp() {
        let kw = $('.foc').val().substr(len)
        console.log(kw)

        let qid = document.querySelector(".foc").id.substr(3);
        //ulAuto = $(`#u_${qid}`)
        ulAuto = document.querySelector(`#u_${qid}`)
        AutoComp(kw)
    }

    //commentInput.keydown(function (event) {
    //    if (event.shiftKey && event.keyCode == 50) {
    //        console.log("a")
    //    }
    //})

    async function AutoComp(kw) {
        f.innerHTML = "";
        ulAuto.innerHTML = "";
        const response = await fetch('@Url.Content("~/CArticle/GetKeyWords")' + `?kw=${kw}`);
        const result = await response.json();
        result.forEach(k => { f.innerHTML += `<li>${k}</li>` })
        ulAuto.innerHTML = f.innerHTML;
    }

    $("#divtest").on("click", "li", function (event) {
        //console.log("AA")
        //console.log(event.currentTarget)
        let k = event.currentTarget.innerText;
        AddToInput(k)
    })

    function AddToInput(w) {
        //commentInput.val(w);
        let a = $('.foc').val().lastIndexOf("@@")+1
        let n = $('.foc').val().substr(0, a)
        let k = w.length
        console.log(k);
        //document.querySelector(".foc").val().substr(a,k).setAttribute("style","background-color:gray")
        //console.log(n);
        //console.log(n + w)
        $('.foc').val(n + w+" ");
        //document.querySelector('.foc').vallue = w;
        ulAuto.innerHTML = "";
        document.querySelector(".foc").removeEventListener('input', inp)
        document.querySelector(".foc").focus()
    }





</script>