@using prjProduct_core.Controllers
@model IEnumerable<prjProduct_core.ViewModel.CArticleViewModel>
    <!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../img/Home-img/02.jpg);">
        <h2>好文慢讀</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">相關文章</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="CArticle" asp-action="faceToArticle">咖啡好文</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">好文慢讀</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-md-8">
                <div class="blog-posts-area">

                    <!-- Post Details Area -->
                    <div class="single-post-details-area">
                        <div class="post-content" id="@Model.FirstOrDefault().ArticleId">
                            <h4 class="post-title">@Model.FirstOrDefault().ArticleName</h4>
                            <div>
                                <a href="#">@Model.FirstOrDefault().ArticleDate.ToString().Substring(0, 9)</a>
                            </div>
                            <div class="post-thumbnail mb-30">
                                <img src="~/images/Frog001.jpg" alt="">
                            </div>
                            <p id="P1">
                                @Html.Raw(@Model.FirstOrDefault().ArticleDescription)
                            </p>
                            <div class="row mb-30"></div>
                        </div>
                        <div id="divArticleComment">

                        </div>
                    </div>

                    @*評論*@
                    <div class="submit_a_review_area mt-50" id="divbehidden">
                        <h4>給予評價</h4>
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="ArticleComments">評價內容</label>
                                        <textarea class="form-control" id="ArticleComments" rows="5" data-max-length="150"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button id="btnSumbit" class="btn alazea-btn">提出評價</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p id="btnArtComment" style="cursor:pointer" class="text-primary mt-3">查看評論與回覆</p>
                    <div id="divAComment"></div>
                    @*評論結束*@
                    <!-- Post Tags & Share -->
                    <!--<div class="post-tags-share d-flex justify-content-between align-items-center ">-->
                    <!-- Tags -->
                    <!--<ol class="popular-tags d-flex align-items-center flex-wrap">
                        <li><span>Tag:</span></li>
                        <li><a href="#">PLANTS</a></li>
                        <li><a href="#">CACTUS</a></li>
                    </ol>-->
                    <!-- Share -->
                    <!--<div class="post-share">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>-->

                </div>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-4">
                <div class="post-sidebar-area">


                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">

                            <h4>
                                <i class="fa fa-star"></i>五大熱銷商品
                            </h4>
                            <br />
                            <div id="divHot">
                            </div>
                        </div>

                        <div class="widget-title">

                            <h4>
                                <i class="icon_gift"></i>送禮送心坎裡
                            </h4>
                            <br />
                            <div id="divRecommend">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->
<!-- ##### All Javascript Files ##### -->
@section Scripts{
    <script>
        $("#divHot").load('@Url.Content("~/CArticle/Hot")')
        $("#divRecommend").load('@Url.Content("~/CArticle/Recommend")')


        @*$("#btnSumbit").click(function (e) {
            e.preventDefault();
            $.get('@Url.Content("~/CArticle/CheckArticleCommentMemberId")', function (dt) {
                if (dt != "NoMember") {
                    $.post('@Url.Content("~/CArticle/AddArticleComment")', {
                        "MemberId": dt,
                        "ArticleId": @Model.FirstOrDefault().ArticleId,
                        "ArticleCommentParentId": 0,
                        "ArticleCommentDescription": aComment
                    }, function (data) {
                            alert(data)
                            $("#divAComment").load('@Url.Content("~/CArticle/faceToArticleComment")', { "articleId": @Model.FirstOrDefault().ArticleId })
                            $("#divbehidden").attr("hidden", "hidden");
                            bool = true;
                        }
                } else {
                     window.location.href = '@Url.Content("~/Home/Login")';
            })
        })*@
        //送出評論
        $("#btnSumbit").click(function (event) {
            event.preventDefault();
            let aComment = $("#ArticleComments").val();
            if (aComment == "") { return };
            $.get('@Url.Content("~/CArticle/CheckArticleCommentMemberId")', function (dt) {
                if (dt != "NoMember") {
                    $.post('@Url.Content("~/CArticle/AddArticleComment")', {
                        "MemberId": dt,
                        "ArticleId": @Model.FirstOrDefault().ArticleId,
                        "ArticleCommentParentId": 0,
                        "ArticleCommentDescription": aComment
                    }, function (data) {
                        if (data === "login") {
                            window.location.href = '@Url.Content("~/Home/Login")';
                        } else {
                            alert(data)
                            $("#divAComment").load('@Url.Content("~/CArticle/faceToArticleComment")', { "articleId": @Model.FirstOrDefault().ArticleId })
                            $("#divbehidden").attr("hidden", "hidden");
                            bool = true;
                        }

                    })
                } else {
                      $.post('@Url.Content("~/CArticle/AddArticleComment")', {
                        "MemberId": 1,
                        "ArticleId": @Model.FirstOrDefault().ArticleId,
                        "ArticleCommentParentId": 0,
                        "ArticleCommentDescription": aComment
                    }, function (data) {
                        if (data === "login") {
                            window.location.href = '@Url.Content("~/Home/Login")';
                        } else {
                            alert(data)
                            $("#divAComment").load('@Url.Content("~/CArticle/faceToArticleComment")', { "articleId": @Model.FirstOrDefault().ArticleId })
                            $("#divbehidden").attr("hidden", "hidden");
                            bool = true;
                        }

                    })
                }
            })

        })

        //顯示評論
        $.getJSON('@Url.Content("~/CArticle/ArticleCommentsCount")', { "articleId": @Model.FirstOrDefault().ArticleId}, function (c) {
            if (c[0] == 0) {
                $("#btnComment").attr("hidden", "");
            }
            else if (c[1] == 0) {
                $("#btnArtComment").text(`查看評論(${c[0]})`)
            }
            else {
                $("#btnArtComment").text(`查看評論(${c[0]})與回覆(${c[1]})`)
            }
        })

        //查看評論與回覆鈕
        var bool = false;
        $("#btnArtComment").click(function () {
            if (bool == false) {
                $("#btnArtComment").text("關閉評論與回覆")
                $("#divAComment").load('@Url.Content("~/CArticle/faceToArticleComment")', { "articleId": @Model.FirstOrDefault().ArticleId});
            } else {
                $.getJSON('@Url.Content("~/CArticle/ArticleCommentsCount")', { "articleId": @Model.FirstOrDefault().ArticleId}, function (c) {
            if (c[0] == 0) {
                $("#btnComment").attr("hidden", "");
            }
            else if (c[1] == 0) {
                $("#btnArtComment").text(`查看評論(${c[0]})`)
            }
            else {
                $("#btnArtComment").text(`查看評論(${c[0]})與回覆(${c[1]})`)
            }
        })
                $("#divAComment").html("");
            }
            bool = !bool;
        })




    </script>

}
