@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedList<prjProduct_core.Models.Article>

<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>咖啡好文</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="#">相關文章</a></li>
                        <li class="breadcrumb-item active" aria-current="page">咖啡好文</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area mb-100">
    <div class="container">
        <div class="row">

            <!-- ##### 左區 ##### -->
            <div class="col-12 col-md-8">
                @*<div class="single-widget-area">
                            @using (Html.BeginForm())
                            {
                    @:關鍵字 @Html.TextBox("txtKeyword")
                    <input type="submit" value="查詢" />}
                        </div>*@
                <!-- ##### 左區-搜尋 ##### -->
                <div class="single-widget-area">
                    <form action="#" method="get" class="search-form">
                        <input type="search" name="txtKeyword" id="txtKeyword" placeholder="Search...">
                        <button type="submit"><i class="icon_search"></i></button>
                    </form>
                </div>
                <div class="row">

                    <!-- 文章集 -->
                    <!-- 文章 -->
                    @{ foreach (var item in Model)
                        {
                            <div class="col-12 col-lg-6">
                                <div class="single-blog-post mb-50">
                                    <div class="post-thumbnail mb-30">
                                        <a href="@Url.Action($"faceToArticleDetail", "CArticle", new { id = item.ArticleId })"><img src="~/articleImages/@item.ArticleImage" alt=""></a>
                                    </div>
                                    <div class="post-content">
                                        <a href="@Url.Action($"faceToArticleDetail", "CArticle", new { id = item.ArticleId })" class="post-title">
                                            <h5>
                                                <input type="hidden" value="@item.ArticleId" name="ArticleId" />
                                                @item.ArticleName
                                            </h5>
                                        </a>
                                        <div class="post-meta">
                                            @item.ArticleDate.ToString().Substring(0, 9)
                                        </div>
                                        <p class="post-excerpt">@Html.Raw(item.ArticleDescription.Replace("<p>", "").Replace("&nbsp; ", "").Substring(0, 29))......</p>
                                    </div>
                                </div>
                            </div> } }
                    <div class="col-12 col-lg-8">
                        @Html.PagedListPager(Model, page => Url.Action("faceToArticle", new { page }))
                    </div>

                    <!-- 文章結束 -->


                </div>
            </div>

            <!-- ##### 右區 ##### -->
            <div class="col-12 col-md-4">
                <div class="post-sidebar-area">



                    <!-- ##### 右區-近期文章 ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h4>近期文章</h4>
                        </div>
                        <div id="divNew"></div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->
<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
@section Scripts{
    <script>
    $("#divNew").load('@Url.Content("~/CArticle/New")')
    </script>
}