@using prjProduct_core.Controllers
@using prjProduct_core.ViewModel
@inject CoffeeContext db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>CSCoffee &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/Home-img/coffee.png">
    <!-- Core Stylesheet -->
    <link href="~/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <!-- animate style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/css/PagedList.css" rel="stylesheet" />
    <link href="~/css/Notice.css" rel="stylesheet" />
    @await RenderSectionAsync("Style", required: false)
    <style>
        .pdpicbox {
            height: 250px;
        }

        .nvlogo {
            height: 75px;
            width: 175px;
        }

        .right-banner {
            position: fixed;
            top: 50vh;
            right: 2rem;
            z-index: 999;
        }

        .Aibot {
            cursor: pointer;
            position: fixed;
            top: 75vh;
            right: 1.5rem;
            z-index: 999;
            animation: pulse;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }

        .micicon {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: absolute;
            top: 41px;
            right: 60px;
            z-index: 200;
            cursor: pointer;
            color: #707070;
            margin-right: 20px;
        }

            .micicon:hover, .micicon.current {
                color: #70c745;
            }

        .coffc {
            margin-left: 5px;
            font-size: 5px;
        }

        .coff {
            position: relative;
            margin: 10px 0px;
            width: 180px;
            height: 40px;
            box-shadow: 0 30px 30px rgba(0,0,0,0.05);
            border-radius: 10px;
            cursor: pointer;
            background: #fff;
            padding: 10px 10px;
        }

        .list {
            cursor: default;
            user-select: none;
            color: #1e1e1e
        }

        .coffcate {
            height: 800px;
        }
        /*換頁按鈕---------------------------------------------------------------------------------------------------------------------*/
        .pagination {
            position: relative;
            z-index: 1;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .pagination li a {
                color: #707070;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                line-height: 44px;
                padding: 0;
                margin: 0 10px;
            }

            .pagination li span {
                color: #707070;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                line-height: 44px;
                padding: 0;
                margin: 0 10px;
            }

            .pagination li a:hover, .pagination li a:focus, .pagination li .current, .pagination li .current:hover {
                border-color: #70c745;
                background-color: #70c745;
                color: #ffffff;
            }
        /*list--------------------------------------------------------------------------------------------------------------------------------------*/
        .dropdown1 {
            position: relative;
            margin: 25px 0px;
            width: 180px;
            height: 25px;
        }

            .dropdown1::before {
                content: '';
                position: absolute;
                right: 20px;
                top: 23px;
                z-index: 10000;
                width: 8px;
                height: 8px;
                border: 2px solid #333;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(-45deg);
                transition: 0.5s;
                pointer-events: none;
            }

            .dropdown1.active {
                margin-bottom: 220px;
            }

                .dropdown1.active::before {
                    top: 25px;
                    transform: rotate(-225deg);
                }

            .dropdown1 input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background: #fff;
                border: none;
                outline: none;
                box-shadow: 0 5px 20px rgba(0,0,0,0.05);
                padding: 20px 20px;
                border-radius: 10px;
                margin-top: 10px;
            }

            .dropdown1 .option {
                position: absolute;
                top: 55px;
                width: 100%;
                background: #fff;
                box-shadow: 0 30px 30px rgba(0,0,0,0.05);
                border-radius: 10px;
                overflow: hidden;
                display: none;
            }

            .dropdown1.active .option {
                display: block;
            }

            .dropdown1 .option div {
                padding: 6px 20px;
                cursor: pointer;
            }

                .dropdown1 .option div:hover {
                    background: #70c745;
                    color: #ffffff
                }

        /*改card圖片-------------------------------------------------------------------*/

        .single-product-area .pd-img {
            position: relative;
            z-index: 1;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
        }

            .single-product-area .pd-img a {
                display: block;
            }

            .single-product-area .pd-img img {
                position: relative;
                z-index: 1;
                width: 100%;
            }

            .single-product-area .pd-img .product-tag a {
                background-color: #429edf;
                border-radius: 2px;
                display: inline-block;
                height: 20px;
                padding: 0 10px;
                line-height: 20px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 700;
                font-size: 12px;
                position: absolute;
                top: 20px;
                left: 20px;
                z-index: 10;
            }

            .single-product-area .pd-img .product-tag.sale-tag a {
                background-color: #e61d47;
            }

            .single-product-area .pd-img .product-meta {
                position: absolute;
                bottom: 30px;
                left: 15px;
                right: 15px;
                z-index: 100;
                visibility: hidden;
                opacity: 0;
                -webkit-transition-duration: 500ms;
                transition-duration: 500ms;
            }

                .single-product-area .pd-img .product-meta a {
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 600;
                    background-color: #303030;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50px;
                    flex: 0 0 50px;
                    max-width: 50px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-transform: uppercase;
                    text-align: center;
                }

                    .single-product-area .pd-img .product-meta a:hover, .single-product-area .pd-img .product-meta a:focus {
                        background-color: #70c745;
                    }

                .single-product-area .pd-img .product-meta .add-to-cart-btn {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 calc(100% - 100px);
                    flex: 0 0 calc(100% - 100px);
                    max-width: calc(100% - 100px);
                    width: calc(100% - 100px);
                    border-left: 1px solid rgba(235, 235, 235, 0.5);
                    border-right: 1px solid rgba(235, 235, 235, 0.5);
                }

        .single-product-area .product-info a p {
            margin-bottom: 0;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
        }

            .single-product-area .product-info a p:hover, .single-product-area .product-info a p:focus {
                color: #70c745;
            }

        .single-product-area .product-info h6 {
            margin-bottom: 0;
            font-size: 18px;
        }

        .single-product-area:hover .pdt-img {
            box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
        }

        .single-product-area:hover .pd-img .product-meta {
            visibility: visible;
            opacity: 1;
        }

        .fa-bell {
            color: #73BF00;
        }
        
        #navbarPhone{
            margin-right:30px;
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="img/Home-img/03.jpg" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area" style="z-index:10000">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                @*<a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122 122</span></a>*@
                                <a href="#" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: cscoffee@msit141.com.tw</span></a>
                                <a href="#" title="+1 234 122 122" id="navbarPhone"><i class="fa fa-phone" aria-hidden="true"></i> <span>Tel: 02-2222-2222</span></a>
                                <a asp-controller="Admin_Dashboard" asp-action="Signin" title="Content Management System"><i class="fa-solid fa-cube"></i> <span>管理員後台系統</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- 會員 Dropdown -->
                                <div class="language-dropdown" id="member-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">會員專區</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/MemCenter/Index">會員中心</a>
                                            @*<a class="dropdown-item" href="#">會員ox</a>*@
                                            <a class="dropdown-item" href="/home/onlineServices">即時客服</a>
                                            <a class="dropdown-item" href="/Home/Logout" id="logout" hidden>登出</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Login -->
                                <div class="login">
                                    @{ string arror = "pointer";
                                        if (HomeController.MemName != "Login")
                                        { arror = "default"; }
                                        <a href="/Home/Login" id="loginID" style="cursor:@arror"><i class="fa fa-user" aria-hidden="true"></i> <span id="memname">@HomeController.MemName</span></a>}
                                </div>
                                <!-- 通知 -->
                                @{
                                    if (HomeController.loginmem != null)
                                    {
                                        
                                        var noti = db.Notifications.Where(n => n.MemberId == HomeController.loginmem.MemberId).OrderByDescending(n => n.NotifyTime).Select(n => new CNotificationViewModel()
                                        {
                                            TradeNo = n.TradeNo,
                                            NotifyTime=n.NotifyTime,
                                            statement = n.OrderState.OrderState1

                                        }).Take(5).ToList();

                                        <div class="notifications">
                                            <a href="#" id="notify" hidden><i class="fa-solid fa-bell"></i></a>
                                            <div class="notification_dd">
                                                <ul class="notification_ul">
                                                    
                                                    @{foreach (var item in noti)
                                                        {
                                                    <li>
                                                        <div class="notify_data">
                                                            <div class="title">@item.TradeNo 的訂單通知</div>
                                                            <div class="sub_title">您的商品目前：@item.statement</div>
                                                        </div>
                                                        <div class="notify_status">
                                                            <p class="timebefore">@item.NotifyTime</p>
                                                        </div>
                                                    </li>
                                                        }
                                                    }
                                                    <li class="showAll">
                                                        <a href="/MemCenter/Notice"><p class="link">顯示全部</p></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                }

                                <!-- Cart -->
                                <div class="cart">
                                    <a asp-controller="Shopping" asp-action="ShoppingCar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span class="cart-quantity">(<span id="countCart" style="color:#F1948A"></span>)</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="/" class="nav-brand nvlogo"><img src="img/Home-img/Clogo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">回首頁</a></li>
                                    <li><a asp-area="" asp-controller="CAboutMe" asp-action="faceToMe">關於我</a></li>
                                    <li><a asp-area="" asp-controller="Shop" asp-action="view">商品</a></li>
                                    <li>
                                        <a href="#">相關文章</a>
                                        <ul class="dropdown">
                                            <li><a asp-area="" asp-controller="CFrog" asp-action="faceToFrog">樹蛙雨林聯盟</a></li>
                                            <li><a asp-area="" asp-controller="CArticle" asp-action="faceToArticle">咖啡好文</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="https://forms.gle/GuFsMzqkbW2AdNWz9" target="_blank">填寫問券</a></li>
                                    <li><a asp-area="" asp-controller="Constellation" asp-action="faceToConstellation">星座咖啡</a></li>
                                </ul>
                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>
                    <!-- Search Form -->
                    <div class="search-form">
                        <form asp-controller="Shop" asp-action="view" method="get">
                            <input type="search" name="search" id="search" placeholder="請輸入關鍵字">
                            <button type="submit" class="d-none"></button>
                            <p id="instructions" style="margin-bottom:-10px; font-size:small"></p>
                        </form>
                        <!-- Close Icon -->
                        <div class="micicon"><i class="bi bi-mic" aria-hidden="true" id="btnvoice"></i></div>
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div>
        <!-- ##### Right-Banner ##### -->
        <div class="btn-group-vertical right-banner wow fadeInDown" role="group" aria-label="Basic example">
            <button id="compare" type="button" class="btn btn-light" title="前往比較頁面"><img src="~/img/Icon/compare-icon.png" /> <span class="badge badge-light" id="compare-count"></span></button>
            <button id="cart" type="button" class="btn btn-light" title="購物車"><img src="~/img/Icon/carts.png" /> <span class="badge badge-light" id="cart-count"></span></button>
        </div>
        <!-- ##### AiBot ##### -->
        <img class="Aibot" src="~/img/Icon/bot-ico.png" title="Ai客服小咖" onclick="window.open('@Url.Content("~/AIbot.html")', '線上客服', 'width=450,height=550')" />
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; MSIT141 西夏普咖啡 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
    <script src="~/js/Loginout.js"></script>
    <!-- Bootstrap-growl -->
    <script src="~/js/jquery.bootstrap-growl.min.js"></script>
    <script>new WOW().init();</script>
    <script type="text/javascript" src="~/js/jquery.simplePagination.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
<script>
        //====================語音控制==========================

        var recognition = new window.webkitSpeechRecognition;
        recognition.interimResults = true;
        var text = $("#search");
        var instructions = $("#instructions");
        var content = '';
        recognition.continuous = true;
        //recognition 9s start
        recognition.lang = "zh-ha"

        recognition.onstart = function () {
            instructions.text("麥克風已經開啟")
        }
        recognition.onspeechend = function () {
            instructions.text("沒有輸入語音")
        }
        recognition.onerror = function () {
            instructions.text("請在試一次")
        }
        recognition.onresult = function (e) {
            var current = e.resultIndex;
            var transcript = e.results[current][0].transcript;

            if (content == '') {
                content = transcript;
            }
            else {
                content = '';
                content = transcript;
            }
            text.val(content);
        }
        $("#btnvoice").click(function (event) {
            if (content.length) {
                content += '';
            }
            recognition.start();
            setTimeout(() => { recognition.end(); }, 3000)

        })
        text.on('input', function () {
            content = $(this).val;
        })

        //===================購物車物品數量計算=====================
        async function CountCart() {
            let countCart = document.querySelector("#countCart");
            const response = await fetch('@Url.Content("~/api/CountCart")');
            const result = await response.text();
            countCart.innerHTML = result;
            $("#cart-count").html(`${result}`);
        }
        CountCart();

        //===================搜尋=====================

        //==================前往比較頁面===============
        $("#compare").click(function () {
            $('.bootstrap-growl').remove();
            $.get('@Url.Content("~/Compare/CompareView")',
                function (data) {
                    if (data === "null") {
                        $.bootstrapGrowl("尚未加入任何比較!", {
                            ele: "body",
                            type: "danger",
                            offset: { from: "bottom", amount: 50 },
                            align: "right",
                            width: "auto",
                            delay: 3000,
                            allow_dismiss: true,
                            stackup_spacing: 10
                        });
                    }
                    else {
                        window.location.href = '@Url.Content("~/Compare/CompareView")';
                    }
                }
            );
        });
        //==================目前比較數量===============
        $(document).ready(function () {
            $.get('@Url.Content("~/Compare/ReportCompareCount")',
                function (data) {
                    $("#compare-count").html(`${data}`);
                }
            );
        });
    //=======================通知============================
    $("#notify").click(function () {
        $(this).parent().toggleClass("active");
    });
    //=============多少時間前的通知=====================
    let notiTimes = $(".timebefore");//yyyy/MM/dd HH:mm:ss
    let timeArr = [];
    $.each(notiTimes, function (index, value) {
        timeArr.push(value.innerText);
    });
    function timeAgo() {
        let nowTime = new Date().getTime();
        for (let i = 0; i < timeArr.length; i++) {
            let NotifyTime = new Date(timeArr[i]).getTime();
            let period = nowTime - NotifyTime;
            let days = Math.floor(period / (24 * 60 * 60 * 1000));
            if (days >= 1) {//超過一天
                notiTimes.get(i).innerText = `${days}天前`;
            } else {//一天之內
                let hours = Math.floor((period % (24 * 60 * 60 * 1000)) / (1000 * 60 * 60));
                if (hours >= 1) {
                    notiTimes.get(i).innerText = `${hours}小時前`;
                } else {//一小時內
                    let minutes = Math.floor((period % (60 * 60 * 1000)) / (1000 * 60));
                    if (minutes >= 1) {
                        notiTimes.get(i).innerText = `${minutes}分鐘前`;
                    } else {//一分鐘內
                        notiTimes.get(i).innerText = `幾秒鐘前`;
                    }
                }

            }
        }
    }
    timeAgo();
    $(document).ready(() => {
        let timer = setInterval(timeAgo, 1000);
    });


    //=================前往購物車====================
    $("#cart").click(function () {
        $('.bootstrap-growl').remove();
            window.location.href = '@Url.Content("~/shopping/shoppingcar")';
    });

</script>
</body>
</html>
