@model prjProduct_core.ViewModel.CProductViewModel
<style>
    .picbox {
        width: 400px;
        height: 400px;
    }
</style>
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../img/Home-img/02.jpg);">
        <h2>DETAILS</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="view" asp-controller="Shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area mb-50">
    <div class="produts-details--content mb-50">
        <div class="container">
            <div class="row justify-content-between">
                @*圖片*@
                @if (Model.MainPhotoPath == null || Model.Photos.Count < 2)
                {
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active ">
                                        <a class="product-img" href="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" title="Product Image">
                                            <img class="d-block w-100 picbox" src="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" alt="1">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="product-img" href="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" title="Product Image">
                                            <img class="d-block w-100 picbox" src="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" alt="1">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="product-img" href="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" title="Product Image">
                                            <img class="d-block w-100 picbox" src="~/images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(../../images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg); ">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(../../images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg ); ">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(../../images/d9fd3b42-b75c-4fc7-bde3-053e14338dd2.jpg );">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active ">
                                        <a class="product-img" href="~/images/@Model.MainPhotoPath" title="Product Image">
                                            <img class="d-block w-100 picbox" src="~/images/@Model.MainPhotoPath" alt="1">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="product-img" href="~/images/@Model.Photos[0]" title="Product Image">
                                            <img class="d-block w-100 picbox" src="~/images/@Model.Photos[0]" alt="1">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="product-img" href="~/images/@Model.Photos[1]" title="Product Image">
                                            <img class="d-block w-100 picbox" src="~/images/@Model.Photos[1]" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(../../images/@Model.MainPhotoPath); ">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(../../images/@Model.Photos[0] ); ">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(../../images/@Model.Photos[1] );">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                }

                @*細節*@
                <div class="col-12 col-md-6">
                    <div class="single_product_desc">
                        <h4 class="title">@Model.ProductName</h4>
                        <h4 class="price" style="color:#ff0000">NT$@((Convert.ToInt32( Model.Price)*0.8).ToString("0"))</h4>
                        <div class="short_overview">
                            <p>@Model.Description</p>
                        </div>
                        <div class="cart--area d-flex flex-wrap align-items-center">
                            <!-- Add to Cart Form -->
                            <form class="cart clearfix d-flex align-items-center">
                                <div class="quantity">
                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if (qty <= 1) return; else { if (!isNaN(qty)) effect.value--; };  return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    <input type="text" class="qty-text" id="qty" step="1" min="1" max="10" name="quantity" value="1" disabled>
                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if (qty >=@Model.Stock) overstock(); else { if (!isNaN(qty)) effect.value++; };  return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                                <input type="hidden" value="@Model.ProductId" name="id" id="proid" />
                                <input type="button" name="addtocart" value="Add to cart" id="btnsubmit" class="btn alazea-btn ml-15" />
                                <input type="hidden" value="@((Convert.ToInt32( Model.Price)*0.8).ToString("0"))" id="proprice" />
                            </form>
                            <!-- Wishlist & Compare -->
                            <div class="wishlist-compare d-flex flex-wrap align-items-center">
                                <a href="javascript:void(0);" class="wishlist-btn ml-15"><i class="icon_heart_alt"><span hidden id="comid">@Model.ProductId</span></i></a>
                                <a style="cursor:pointer" class="compare-btn ml-15"><i class="arrow_left-right_alt"></i><span hidden id="comid">@Model.ProductId</span></a>
                            </div>
                        </div>
                        @{
                            if (Model.CategoryId == 1)
                            {

                                <div class="products--meta">
                                    <p><span>產地:</span> <span>@Model.Coffee.Country.CountryName</span></p>
                                    <p><span>烘培程度:</span>@Model.Coffee.Roasting.RoastingName</p>
                                    <p><span>處理方法:</span> <span>@Model.Coffee.Process.ProcessName</span></p>
                                    <p><span>包裝方式:</span> <span>@Model.Coffee.Package.PackageName</span></p>
                                </div>
                            }
                            else
                            {
                                <div class="products--meta">
                                    <p><span>產地:</span> <span>@Model.Country.CountryName</span></p>
                                    <p><span>產品種類:</span> <span>@Model.Category.CategoriesName</span></p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================Comments and Ranking Area Start=====================-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_details_tab clearfix">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="product-details-tab">
                        <li class="nav-item">
                            <a href="#description" class="nav-link active" data-toggle="tab" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a href="#addi-info" class="nav-link" data-toggle="tab" role="tab">Additional Information</a>
                        </li>
                        <li class="nav-item">
                            <a href="#reviews" class="nav-link" data-toggle="tab" role="tab">評價&回覆 <span class="text-muted"></span></a>
                        </li>
                    </ul>
                    <!-- Tab Content -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="description">
                            <div class="description_area">
                                <p></p>
                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In scelerisque augue at the moment mattis. Proin vitae arcu sit amet justo sollicitudin tincidunt sit amet ut velit.Proin placerat vel augue eget euismod. Phasellus cursus orci eu tellus vestibulum, vestibulum urna accumsan. Vestibulum ut ullamcorper sapien. Pellentesque molestie, est ac vestibulum eleifend, lorem ipsum mollis ipsum.</p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="addi-info">
                            <div class="additional_info_area">
                                <p>
                                    What should I do if I receive a damaged parcel?
                                    <br> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit similique qui, itaque delectus labore.</span>
                                </p>
                                <p>
                                    I have received my order but the wrong item was delivered to me.
                                    <br> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quam voluptatum beatae harum tempore, ab?</span>
                                </p>
                                <p>
                                    Product Receipt and Acceptance Confirmation Process
                                    <br> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus, temporibus soluta impedit minus rerum?</span>
                                </p>
                                <p>
                                    How do I cancel my order?
                                    <br> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eius eum, minima!</span>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="reviews">
                            <div class="reviews_area">
                                <ul>
                                    <li>
                                    </li>
                                </ul>
                            </div>

                            <div class="submit_a_review_area mt-50">
                                <h4>給予評價</h4>
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group d-flex align-items-center">
                                                <span class="mr-15">評價星數:</span>
                                                <div class="stars">
                                                    <input type="radio" name="star" value="1" class="star-1 rc" id="star-1">
                                                    <label class="star-1" for="star-1">1</label>
                                                    <input type="radio" name="star" value="2" class="star-2 rc" id="star-2">
                                                    <label class="star-2" for="star-2">2</label>
                                                    <input type="radio" name="star" value="3" class="star-3 rc" id="star-3">
                                                    <label class="star-3" for="star-3">3</label>
                                                    <input type="radio" name="star" value="4" class="star-4 rc" id="star-4">
                                                    <label class="star-4" for="star-4">4</label>
                                                    <input type="radio" name="star" value="5" class="star-5 rc" id="star-5">
                                                    <label class="star-5" for="star-5">5</label>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="comments">評價內容</label>
                                                <textarea class="form-control" id="comments" rows="5" data-max-length="150"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button id="btnSummit" class="btn alazea-btn">提出評價</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <p id="btnComment" style="cursor:pointer" class="text-primary mt-3">查看評論與回覆</p>
                            <div id="divComment"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===================Comments and Ranking Area End=====================-->
<!-- ##### Single Product Details Area End ##### -->
<!-- ##### Related Product Area Start ##### -->
<div class="related-products-area">
</div>


@section Scripts{
    <script>
        //=====================設定評論星數=====================
        const pId =@Model.ProductId;
        let starNum=0;
        $(".rc").click(function () {
            starNum = event.target.value;
        });
        //=====================送出評論鈕=====================
        $("#btnSummit").click(function (e) {
            e.preventDefault();
            let comStr = $("#comments").val();
            if (starNum == 0 || comStr == "") { return };
            $.post('@Url.Content("~/api/AddComment")', {
                "OrderId": 1,"ProductId":pId, "MemberId":1, "CommentParentId":0,
                "CommentDescription": comStr, "Star": starNum
            }, function (data) {
                $(".submit_a_review_area").hide();
                $("#btnComment").hide();
                alert(data);
                $("#divComment").load('@Url.Content("~/home/_CommentBoard")',{ "productId": pId });
            })
        })
        //=====================計算評論與回覆的數量並顯示=====================
        $.getJSON('@Url.Content("~/api/CountComments")', { "productId": pId }, function (counts) {
            if (counts[0] == 0) {
                $("#btnComment").attr("hidden", "");
            }
            else if (counts[1] == 0) {
                $("#btnComment").text(`查看評論(${counts[0]})`)
            }
            else {
                $("#btnComment").text(`查看評論(${counts[0]})與回覆(${counts[1]})`)
            }
        })

        //=====================查看評論與回覆鈕=====================
        $("#btnComment").click(function () {
            $("#divComment").load('@Url.Content("~/home/_CommentBoard")',{ "productId": pId });
            $("#btnComment").hide();
        })

        //=====================推薦商品區域=====================
         $.get('@Url.Content("~/Shop/partialViewRelated")', { "ID":@Model.ProductId},
                function (data) {
                    if (data != "null") {
                         $(".related-products-area").load('@Url.Content("~/Shop/partialViewRelated")' + "?Id=@Model.ProductId")
                    }
             })

        //====================加入收藏================================
        $(".wishlist-btn").click(async function (event) {
            let likeid = event.currentTarget.textContent;
            console.log(likeid);
            $.get('@Url.Content("~/MemberFactory/AddtoMyLike")', { "id": likeid },
                function (data) {
                    if (data == "此商品已收藏過" || data == "已加入收藏") {
                        alert(data);
                    } else {
                        window.location.href = '@Url.Content("~/MemberFactory/AddtoMyLike")';
                    }
                });
        })

        //=================加入購物車========================
        $("#btnsubmit").click(function () {
            let proid = $(this).parent().find("#proid").val();
            let qty = $(this).parent().find("#qty").val();
            let proprice = parseInt($(this).parent().find("#proprice").val());
            $.get('@Url.Content("~/shopping/SaleAddtoCart")', { "id": proid, "quantity": qty, "price" : proprice },
                function (data) {
                    if (data === "add") {
                        $.bootstrapGrowl("成功加入購物車", {
                            ele: "body",
                            type: "success",
                            offset: { from: "bottom", amount: 50 },
                            align: "right",
                            width: "auto",
                            delay: 3000,
                            allow_dismiss: true,
                            stackup_spacing: 10
                        });
                        CountCart();
                    }
                    else {
                         window.location.href = '@Url.Content("~/Home/Login")';
                    }
                }
            );
        })
        async function CountCart() {
            let countCart = document.querySelector("#countCart");
            const response = await fetch('@Url.Content("~/api/CountCart")');
            const result = await response.text();
            countCart.innerHTML = result;
            $("#cart-count").html(`${result}`);
        }


        //==================判斷加入購物車數量上限==================
        function overstock() {
            $.bootstrapGrowl("已達可加入購物車上限", {
                ele: "body",
                type: "warning",
                offset: { from: "bottom", amount: 50 },
                align: "right",
                width: "auto",
                delay: 3000,
                allow_dismiss: true,
                stackup_spacing: 10
            });
        }

    </script>
}