@model IEnumerable<prjProduct_core.ViewModel.CRelatedViewModel>

<div class="container wow fadeInUp" data-wow-delay="100ms">
    <div class="row">
        <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center">
                <h2>Related Products</h2>
            </div>
        </div>
    </div>

    <div class="row">

        @foreach (var item in Model)
        {
            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-product-area mb-100">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductId"><img src="~/img/Home-img/03.jpg" alt=""></a>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a style="cursor:pointer" class="add-to-cart-btn" id="addtocart">Add to cart</a>
                            <input type="hidden" value="@item.ProductId" id="proid" />
                            <input type="hidden" value="@item.Price" id="proprice" />
                            <a style="cursor:pointer" class="compare-btn"><i class="arrow_left-right_alt"></i><span hidden id="comid">@item.ProductId</span></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductId">
                            <p>@item.CoffeeName</p>
                        </a>
                        <h6>NT$@item.Price</h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
       //=====================加入比較按鈕=====================
    $(".compare-btn").click(function () {
        let comid = $(this.children).text();
        $('.bootstrap-growl').remove();
        $.get('@Url.Content("~/compare/AddCompare")', { "Id": comid },
            function (data) {
                if (data === "add") {
                    $.bootstrapGrowl("加入比較清單", {
                        ele: "body",
                        type: "success",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                else if (data === "beenAdd") {
                    $.bootstrapGrowl("該商品已加入過比較清單!", {
                        ele: "body",
                        type: "warning",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                else{
                    $.bootstrapGrowl("比較清單已加入3樣商品 <a href='@Url.Content("~/Compare/CompareView")' style='font-weight: bolder;font-size:18px; color: #4F9D9D'>前往比較頁面</a>", {
                        ele: "body",
                        type: "primary",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                ReportCompareCount();
             }
        );
    });
    //==================目前比較數量===============
    function ReportCompareCount() {
         $.get('@Url.Content("~/Compare/ReportCompareCount")',
                function (data) {
                    $("#compare-count").html(`${data}`);
                }
        )
    };

     //=================加入購物車========================
    $(".add-to-cart-btn").click(function () {
        let proid = $(this).parent().find("#proid").val();
        let proprice = parseInt($(this).parent().find("#proprice").val());
        $.get('@Url.Content("~/shopping/AddtoCart")', { "id": proid, "quantity": 1, "price" : proprice },
            function (data) {
                if (data === "add") {
                    $.bootstrapGrowl("成功加入購物車", {
                        ele: "body",
                        type: "success",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                    CountCart();
                }
                else {
                        window.location.href = '@Url.Content("~/Home/Login")';
                }
            }
        );
    })

    async function CountCart() {
            let countCart = document.querySelector("#countCart");
            let imgcart = document.querySelector("#cart-count");
            const response = await fetch('@Url.Content("~/api/CountCart")');
            const result = await response.text();
            countCart.innerHTML = result;
            imgcart.innerHTML = `&nbsp&nbsp${result}`;
    }
</script>