@model IEnumerable<prjProduct_core.ViewModel.CProductViewModel>
@*標題*@
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>Shop</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

@*內容*@
<section class="shop-page section-padding-0-100">
    <div class="container">

        <div class="row">
            <!-- Sidebar Area -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop-sidebar-area">
                    <!-- Shop Widget -->
                    <div class="shop-widget best-seller mb-50">
                        <h4 class="widget-title">推薦產品</h4>
                        <div class="widget-desc">
                            @{
                                foreach (Product item in ViewBag.Recommend)
                                {
                                    <!-- Single Best Seller Products -->
                                    <div class="single-best-seller-product d-flex align-items-center">
                                        <div class="product-thumbnail">
                                            <a asp-controller="Shop" asp-action="detail" asp-route-id="@item.ProductId"><img src="~/img/coffee-img/been2.jpg" alt=""></a>
                                        </div>
                                        <div class="product-info">
                                            <a asp-controller="Shop" asp-action="detail" asp-route-id="@item.ProductId">@item.ProductName</a>
                                            <p>NT$@Convert.ToInt32(item.Price).ToString("0")</p>
                                            <div class="ratings">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <!-- Shop Widget -->
                    <div class="shop-widget catagory mb-50">
                        <h4 class="widget-title">產品類別</h4>
                        <div class="widget-desc">
                            <!-- Categories -->
                            <div class="coff" id="selectall">所有產品</div>
                            <div class="coff" id="s_1">咖啡豆</div>
                            <div class="coff" id="s_2">咖啡器具</div>
                            <div class="coff" id="s_3">消耗品</div>
                        </div>
                    </div>
                    <!-- Shop Widget -->
                    <div class="shop-widget sort-by mb-50 coffcate">
                        <h4 class="widget-title">咖啡豆分類</h4>
                        <div class="widget-desc">
                            <ul>
                                <li>
                                    <ul class="dropdown test1 ">
                                        <li>
                                            <div class="dropdown1">
                                                <input type="text" class="textBox3" placeholder="處理方式" readonly />
                                                <div class="option">
                                                    <div onclick="showw('日曬')" class="coffcw" id="w_1">日曬</div>
                                                    <div onclick="showw('水洗')" class="coffcw" id="w_2">水洗</div>
                                                    <div onclick="showw('蜜處理')" class="coffcw" id="w_3">蜜處理</div>
                                                    <div onclick="showw('特殊處理')" class="coffcw" id="w_4">特殊處理</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown1">
                                                <input type="text" class="textBox4" placeholder="包裝方法" readonly />
                                                <div class="option">
                                                    <div onclick="showp('豆(半磅)')" class="coffcp" id="p_1">豆(半磅)</div>
                                                    <div onclick="showp('豆(一磅)')" class="coffcp" id="p_2">豆(一磅)</div>
                                                    <div onclick="showp('濾掛')" class="coffcp" id="p_3">濾掛</div>
                                                    <div onclick="showp('濾袋')" class="coffcp" id="p_4">濾袋</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown1">
                                                <input type="text" class="textBox2" placeholder="烘培程度" readonly />
                                                <div class="option">
                                                    <div onclick="show('淺焙')" class="coffcr" id="r_1">淺焙</div>
                                                    <div onclick="show('中淺焙')" class="coffcr" id="r_2">中淺焙</div>
                                                    <div onclick="show('中焙')" class="coffcr" id="r_3">中焙</div>
                                                    <div onclick="show('中深焙')" class="coffcr" id="r_4">中深焙</div>
                                                    <div onclick="show('深焙')" class="coffcr" id="r_5">深焙</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown1">
                                                <input type="text" class="textBox1" placeholder="產地國家" readonly />
                                                <div class="option">
                                                    <div onclick="showCn('衣索比亞')" class="coffcn" id="c_1">衣索比亞</div>
                                                    <div onclick="showCn('肯亞')" class="coffcn" id="c_2">肯亞</div>
                                                    <div onclick="showCn('盧安達')" class="coffcn" id="c_3">盧安達</div>
                                                    <div onclick="showCn('巴西')" class="coffcn" id="c_4">巴西</div>
                                                    <div onclick="showCn('祕魯')" class="coffcn" id="c_5">祕魯</div>
                                                    <div onclick="showCn('巴拿馬')" class="coffcn" id="c_6">巴拿馬</div>
                                                    <div onclick="showCn('瓜地馬拉')" class="coffcn" id="c_7">瓜地馬拉</div>
                                                    <div onclick="showCn('薩爾瓦多')" class="coffcn" id="c_8">薩爾瓦多</div>
                                                    <div onclick="showCn('宏都拉斯')" class="coffcn" id="c_9">宏都拉斯</div>
                                                    <div onclick="showCn('哥倫比亞')" class="coffcn" id="c_10">哥倫比亞</div>
                                                    <div onclick="showCn('哥斯大黎加')" class="coffcn" id="c_11">哥斯大黎加</div>
                                                    <div onclick="showCn('印尼')" class="coffcn" id="c_12">印尼</div>
                                                    <div onclick="showCn('巴布亞新幾內亞')" class="coffcn" id="c_13">巴布亞新幾內亞</div>
                                                    <div onclick="showCn('台灣')" class="coffcn" id="c_14">台灣</div>
                                                    <div onclick="showCn('尼加拉瓜')" class="coffcn" id="c_15">尼加拉瓜</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- All Products Area -->
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop-products-area">
                    <!--列出卡片-->
                    <div class="row list-wrapper" id="showcard">

                        @{
                            var q = Model.OrderBy(p => p.Price);

                            foreach (var pd in Model)
                            {
                                <!-- Single Product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 list-item">
                                    <div class="single-product-area mb-50 single_portfolio_item home-design wow fadeIn" data-wow-delay="300ms">
                                        <!-- Product Image -->
                                        <div class="pd-img">
                                            <a asp-action="detail" asp-route-id="@pd.ProductId"><img src="../img/Home-img/02.jpg"></a>
                                            <!-- Product Tag -->
                                            <div class="product-tag">
                                                <a href="#">Hot</a>
                                            </div>
                                            <div class="product-meta d-flex">
                                                @if (pd.CategoryId == 1)
                                                {
                                                    <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                                                    <a href="@Url.Action("AddtoCart","Shopping", new { id = @pd.ProductId})" style="cursor:pointer" class="add-to-cart-btn"><span hidden id="addtocart">@pd.ProductId</span>Add to cart</a>
                                                    <a href="javascript:void(0);" class="compare-btn"><i class="arrow_left-right_alt"></i><span hidden id="comid">@pd.ProductId</span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="wishlist-btn"style="margin-left:25px;"><i class="icon_heart_alt"></i></a>
                                                    <a href="@Url.Action("AddtoCart","Shopping", new { id = @pd.ProductId})" style="cursor:pointer" class="add-to-cart-btn"><span hidden id="addtocart">@pd.ProductId</span>Add to cart</a>

                                                }
                                            </div>
                                        </div>
                                        <!-- Product Info -->
                                        <div class="product-info mt-15 text-center">
                                            <a>
                                                @Html.ActionLink(@pd.ProductName, "detail", new { id = pd.ProductId }, new { })
                                            </a>
                                            <h6>$@(Convert.ToInt32( pd.Price).ToString("0"))</h6>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-12">
                            <ul class="pagination left pull-left " id="btnul">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Style{
    <style>
        .coffc {
            margin-left: 5px;
            font-size: 5px;
        }

        .coff {
            position: relative;
            margin: 10px 0px;
            width: 180px;
            height: 40px;
            box-shadow: 0 30px 30px rgba(0,0,0,0.05);
            border-radius: 10px;
            cursor: pointer;
            background: #fff;
            padding: 10px 10px;
        }

        .list {
            cursor: default;
            user-select: none;
            color: #1e1e1e
        }

        .coffcate {
            height: 800px;
        }
        /*換頁按鈕---------------------------------------------------------------------------------------------------------------------*/
        .pagination {
            position: relative;
            z-index: 1;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .pagination li a {
                color: #707070;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                line-height: 44px;
                padding: 0;
                margin: 0 10px;
            }

            .pagination li span {
                color: #707070;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                line-height: 44px;
                padding: 0;
                margin: 0 10px;
            }

            .pagination li a:hover, .pagination li a:focus, .pagination li .current, .pagination li .current:hover {
                border-color: #70c745;
                background-color: #70c745;
                color: #ffffff;
            }
        /*list--------------------------------------------------------------------------------------------------------------------------------------*/
        .dropdown1 {
            position: relative;
            margin: 25px 0px;
            width: 180px;
            height: 25px;
        }

            .dropdown1::before {
                content: '';
                position: absolute;
                right: 20px;
                top: 23px;
                z-index: 10000;
                width: 8px;
                height: 8px;
                border: 2px solid #333;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(-45deg);
                transition: 0.5s;
                pointer-events: none;
            }

            .dropdown1.active {
                margin-bottom: 220px;
            }

                .dropdown1.active::before {
                    top: 25px;
                    transform: rotate(-225deg);
                }

            .dropdown1 input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background: #fff;
                border: none;
                outline: none;
                box-shadow: 0 5px 20px rgba(0,0,0,0.05);
                padding: 20px 20px;
                border-radius: 10px;
                margin-top: 10px;
            }

            .dropdown1 .option {
                position: absolute;
                top: 55px;
                width: 100%;
                background: #fff;
                box-shadow: 0 30px 30px rgba(0,0,0,0.05);
                border-radius: 10px;
                overflow: hidden;
                display: none;
            }

            .dropdown1.active .option {
                display: block;
            }

            .dropdown1 .option div {
                padding: 6px 20px;
                cursor: pointer;
            }

                .dropdown1 .option div:hover {
                    background: #70c745;
                    color: #ffffff
                }

        /*改card圖片-------------------------------------------------------------------*/

        .single-product-area .pd-img {
            position: relative;
            z-index: 1;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
        }

            .single-product-area .pd-img a {
                display: block;
            }

            .single-product-area .pd-img img {
                position: relative;
                z-index: 1;
                width: 100%;
            }

            .single-product-area .pd-img .product-tag a {
                background-color: #429edf;
                border-radius: 2px;
                display: inline-block;
                height: 20px;
                padding: 0 10px;
                line-height: 20px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 700;
                font-size: 12px;
                position: absolute;
                top: 20px;
                left: 20px;
                z-index: 10;
            }

            .single-product-area .pd-img .product-tag.sale-tag a {
                background-color: #e61d47;
            }

            .single-product-area .pd-img .product-meta {
                position: absolute;
                bottom: 30px;
                left: 15px;
                right: 15px;
                z-index: 100;
                visibility: hidden;
                opacity: 0;
                -webkit-transition-duration: 500ms;
                transition-duration: 500ms;
            }

                .single-product-area .pd-img .product-meta a {
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 600;
                    background-color: #303030;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50px;
                    flex: 0 0 50px;
                    max-width: 50px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-transform: uppercase;
                    text-align: center;
                }

                    .single-product-area .pd-img .product-meta a:hover, .single-product-area .pd-img .product-meta a:focus {
                        background-color: #70c745;
                    }

                .single-product-area .pd-img .product-meta .add-to-cart-btn {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 calc(100% - 100px);
                    flex: 0 0 calc(100% - 100px);
                    max-width: calc(100% - 100px);
                    width: calc(100% - 100px);
                    border-left: 1px solid rgba(235, 235, 235, 0.5);
                    border-right: 1px solid rgba(235, 235, 235, 0.5);
                }

        .single-product-area .product-info a p {
            margin-bottom: 0;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
        }

            .single-product-area .product-info a p:hover, .single-product-area .product-info a p:focus {
                color: #70c745;
            }

        .single-product-area .product-info h6 {
            margin-bottom: 0;
            font-size: 18px;
        }

        .single-product-area:hover .pdt-img {
            box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
        }

        .single-product-area:hover .pd-img .product-meta {
            visibility: visible;
            opacity: 1;
        }
    </style>
}

@section Scripts{
    <script>


        //list------------------------------------------------------------------------------------------
        function showCn(anything) {
            document.querySelector('.textBox1').value = anything;
        }
        function showw(anything) {
            document.querySelector('.textBox3').value = anything;
        }
        function showp(anything) {
            document.querySelector('.textBox4').value = anything;
        }
        function show(anything) {
            document.querySelector('.textBox2').value = anything;
        }

        let dropdown1 = document.querySelectorAll('.dropdown1');

        dropdown1.forEach(x => x.addEventListener("click", function () {
            /*console.log(this);*/
            this.classList.toggle('active');
        }));


        //頁面----------------------------------------------------------------------------------------
        // 每個頁面要顯示幾個項目
        var perPage = 12;
        // 總共有多少個項目
        var numItems = $(".list-item").length;

        $(".list-item").slice(perPage).hide();

        $('.pagination').pagination({

            items: numItems,
            itemsOnPage: perPage,
            prevText: "&laquo;",
            nextText: "&raquo;",
            onPageClick: function (pageNumber) {
                // 計算出 起始 以及結束
                var from = perPage * (pageNumber - 1);
                var to = from + perPage;
                $(".list-item").hide().slice(from, to).show();

            }


        })
        //view----------------------------------------------------------------------------------------
        @*$("#showcard").load('@Url.Content("~/Shop/partialView")');*@

         $('#selectall').click(function () {
            $('#showcard').load('@Url.Content("~/Shop/partialView")');
        });

        /*下拉式選單*/
        $(".coff").click(function () {
            let id = $(event.target).attr("id").substr(2);

            $('#showcard').load('@Url.Content("~/Shop/partialViewForCatgory")' + "?id=" +id);

        });

        $(".coffcn").click(function(){
            let id = $(event.target).attr("id").substr(2);
            $('#showcard').load('@Url.Content("~/Shop/partialViewContry")' + "?id=" + id);
        })
         $(".coffcr").click(function(){
            let id = $(event.target).attr("id").substr(2);
             $('#showcard').load('@Url.Content("~/Shop/partialViewRoast")' + "?id=" +id);
         })
         $(".coffcw").click(function(){
            let id = $(event.target).attr("id").substr(2);
             $('#showcard').load('@Url.Content("~/Shop/partialViewProcess")' + "?id=" + id);
         })
        $(".coffcp").click(function(){
            let id = $(event.target).attr("id").substr(2);
            $('#showcard').load('@Url.Content("~/Shop/partialViewPacking")' + "?id=" + id);
        })
        /*下拉式選單*/

    //=====================加入比較按鈕=====================
    $(".compare-btn").click(function () {
        let comid = $(this.children).text();
        $('.bootstrap-growl').remove();
        $.get('@Url.Content("~/compare/AddCompare")', { "Id": comid },
            function (data) {
                if (data === "add") {
                    $.bootstrapGrowl("加入比較清單", {
                        ele: "body",
                        type: "success",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                else if (data === "beenAdd") {
                    $.bootstrapGrowl("該商品已加入過比較清單!", {
                        ele: "body",
                        type: "warning",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                else{
                    $.bootstrapGrowl("比較清單已加入3樣商品 <a href='@Url.Content("~/Compare/CompareView")' style='font-weight: bolder;font-size:18px; color: #4F9D9D'>前往比較頁面</a>", {
                        ele: "body",
                        type: "primary",
                        offset: { from: "bottom", amount: 50 },
                        align: "right",
                        width: "auto",
                        delay: 3000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }
                ReportCompareCount();
             }
        );
    });
    //==================目前比較數量===============
    function ReportCompareCount() {
         $.get('@Url.Content("~/Compare/ReportCompareCount")',
                function (data) {
                    $("#compare-count").html(`&nbsp&nbsp${data}`);
                }
    )};
           //============================加入收藏==============================
    $(".wishlist-btn").click(async function (event) {
        let likeid = event.currentTarget.textContent;
        $.get('@Url.Content("~/MemberFactory/AddtoMyLike")', { "id": likeid },
            function (data) {
                if (data == "此商品已收藏過" || data == "已加入收藏") {
                    alert(data);
                } else {
                    window.location.href = '@Url.Content("~/MemberFactory/AddtoMyLike")';
                }
            });

    });
    </script>
}
